@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$menu-popup-bg: $base-bg !default;
$menu-item-hover-bg: $base-hover-bg !default;

/**
* $name 10. Text color
* $type color
*/
$menu-color: color.adjust($base-text-color, $lightness: 46%, $space: hsl) !default;
$menu-item-expanded-color: $menu-color !default;


/**
* $name 20. Selected item background color
* $type color
*/
$menu-item-selected-bg: null !default;
$menu-popup-border-color: $base-border-color !default;
$menu-separator-bg: $base-border-color !default;
$menu-item-selected-color: $base-text-color !default;
$menu-item-link-color: $base-link-color !default;
$menu-item-focused-selected-bg: null !default;
$menu-container-shadow-color: null !default;

@if $mode == "light" {
  $menu-item-selected-bg: color.adjust($base-text-color, $lightness: 88%, $space: hsl) !default;
  $menu-item-focused-selected-bg: color.change(#000, $alpha: 0.14) !default;
  $menu-container-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
}

@if $mode == "dark" {
  $menu-item-selected-bg: color.adjust($base-bg, $lightness: 8%, $space: hsl) !default;
  $menu-item-focused-selected-bg: color.change(#fff, $alpha: 0.14) !default;
  $menu-container-shadow-color: color.change($base-shadow-color, $alpha: 0.4) !default;
}

