@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$scrollable-bg: $base-bg !default;

/**
* $name 10. Scroll bar background color
* $type color
*/
$scrollable-scroll-bg: null !default;
$scrollable-scroll-active-bg: null !default;
$scrollable-scrollbar-bg: null !default;

/**
* $name 20. Scrollbar background color
* $type color
*/
$scrollable-scrollbar-active-bg: null !default;

@if $color == "carmine" {
  $scrollable-scroll-bg: color.change(color.adjust($base-accent, $lightness: -15%, $space: hsl), $alpha: 0.8) !default;
  $scrollable-scroll-active-bg: color.adjust($base-accent, $lightness: -15%, $space: hsl) !default;
  $scrollable-scrollbar-bg: transparent !default;
  $scrollable-scrollbar-active-bg: color.change(color.adjust($scrollable-bg, $lightness: -25%, $space: hsl), $alpha: 0.2) !default;
}

@if $color == "contrast" {
  $scrollable-scroll-bg: $base-inverted-bg !default;
  $scrollable-scroll-active-bg: $base-inverted-bg !default;
  $scrollable-scrollbar-bg: color.change($base-inverted-bg, $alpha: 0) !default;
  $scrollable-scrollbar-active-bg: color.change($base-accent, $alpha: 0.8) !default;
}

@if $color == "dark" {
  $scrollable-scroll-bg: color.change(color.adjust($scrollable-bg, $lightness: 25%, $space: hsl), $alpha: 0.7) !default;
  $scrollable-scroll-active-bg: color.adjust($scrollable-bg, $lightness: 25%, $space: hsl) !default;
  $scrollable-scrollbar-bg: transparent !default;
  $scrollable-scrollbar-active-bg: color.change(color.adjust($scrollable-bg, $lightness: 25%, $space: hsl), $alpha: 0.2) !default;
}

@if $color == "darkmoon" {
  $scrollable-scroll-bg: color.change(color.adjust($base-accent, $lightness: -15%, $space: hsl), $alpha: 0.8) !default;
  $scrollable-scroll-active-bg: color.adjust($base-accent, $lightness: -15%, $space: hsl) !default;
  $scrollable-scrollbar-bg: transparent !default;
  $scrollable-scrollbar-active-bg: color.change(color.adjust($base-bg, $lightness: 25%, $space: hsl), $alpha: 0.2) !default;
}

@if $color == "darkviolet" {
  $scrollable-scroll-bg: color.change(color.adjust($base-accent, $lightness: -15%, $space: hsl), $alpha: 0.8) !default;
  $scrollable-scroll-active-bg: color.adjust($base-accent, $lightness: -15%, $space: hsl) !default;
  $scrollable-scrollbar-bg: transparent !default;
  $scrollable-scrollbar-active-bg: color.change(#4d4d68, $alpha: 0.5) !default;
}

@if $color == "greenmist" {
  $scrollable-scroll-bg: color.change(color.adjust($base-accent, $lightness: -15%, $space: hsl), $alpha: 0.8) !default;
  $scrollable-scroll-active-bg: color.adjust($base-accent, $lightness: -15%, $space: hsl) !default;
  $scrollable-scrollbar-bg: transparent !default;
  $scrollable-scrollbar-active-bg: color.change(color.adjust($base-bg, $lightness: -9%, $space: hsl), $alpha: 0.7) !default;
}

@if $color == "light" {
  $scrollable-scroll-bg: color.change(color.adjust($scrollable-bg, $lightness: -25%, $space: hsl), $alpha: 0.7) !default;
  $scrollable-scroll-active-bg: color.adjust($scrollable-bg, $lightness: -25%, $space: hsl) !default;
  $scrollable-scrollbar-bg: transparent !default;
  $scrollable-scrollbar-active-bg: color.change(color.adjust($scrollable-bg, $lightness: -25%, $space: hsl), $alpha: 0.2) !default;
}

@if $color == "softblue" {
  $scrollable-scroll-bg: color.change(color.adjust($base-accent, $lightness: -15%, $space: hsl), $alpha: 0.8) !default;
  $scrollable-scroll-active-bg: color.adjust($base-accent, $lightness: -15%, $space: hsl) !default;
  $scrollable-scrollbar-bg: transparent !default;
  $scrollable-scrollbar-active-bg: color.change(color.adjust($scrollable-bg, $lightness: -25%, $space: hsl), $alpha: 0.2) !default;
}

