@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../../base/card";

// adduse

.dx-card {
  border: 1px solid;
  border-color: $base-border-color;
  border-radius: $base-border-radius;
  background-color: $base-bg;
}
