@use "../sizes" as *;
@use "../button/colors" as *;
@use "../toolbar/sizes" as *;

// adduse

$generic-scheduler-workspace-date-table-cell-height: null !default;
$generic-scheduler-timeline-date-table-cell-height: null !default;
$generic-scheduler-header-height: null !default;
$generic-scheduler-header-offset: null !default;
$generic-scheduler-toolbar-item-offset: null !default;
$generic-scheduler-navigator-height: null !default;
$generic-scheduler-navigation-buttons-padding: null !default;
$generic-scheduler-appointment-month-text-size: null !default;
$generic-scheduler-workspace-info-text-size: null !default;
$generic-scheduler-all-day-title-font-size: null !default;
$generic-scheduler-appointment-content-padding: null !default;
$generic-scheduler-appointment-recurrence-content-padding: null !default;
$generic-scheduler-appointment-recurrence-content-padding-rtl: null !default;
$generic-scheduler-agenda-appointment-font-size: null !default;
$generic-scheduler-group-header-table-cell-width: null !default;
$generic-scheduler-appointment-transparent-left-border: null !default;
$generic-scheduler-appointment-transparent-right-border: null !default;
$generic-scheduler-dropdown-button-height: null !default;
$generic-scheduler-dropdown-button-margin: null !default;
$generic-scheduler-dropdown-button-vertical-margin: null !default;
$generic-scheduler-dropdown-button-adaptive-margin: null !default;
$generic-scheduler-dropdown-button-adaptive-vertical-margin: null !default;

$generic-scheduler-appointment-popup-toolbar-height: null !default;
$generic-scheduler-appointment-popup-toolbar-label-size: null !default;
$generic-scheduler-appointment-popup-icon-size: null !default;
$generic-scheduler-appointment-popup-icon-container-height: null !default;
$generic-scheduler-appointment-popup-icon-padding-right: null !default;
$generic-scheduler-appointment-popup-icon-margin-top: null !default;
$generic-scheduler-appointment-popup-item-padding-horizontal: null !default;
$generic-scheduler-appointment-popup-item-padding-top: null !default;
$generic-scheduler-appointment-popup-all-day-item-height: null !default;
$generic-scheduler-appointment-popup-days-of-week-button-size: null !default;
$generic-scheduler-appointment-popup-days-of-week-buttons-gap: null !default;
$generic-scheduler-appointment-popup-repeat-end-radio-margin-top: null !default;
$generic-scheduler-appointment-popup-repeat-end-item-height: null !default;

$generic-scheduler-appointment-short-content-padding: null !default;
$generic-scheduler-appointment-10min-height: null !default;
$generic-scheduler-appointment-15min-height: null !default;
$generic-scheduler-appointment-20min-height: null !default;
$generic-scheduler-appointment-25min-height: null !default;
$generic-scheduler-appointment-10min-recurrence-padding-right: null !default;
$generic-scheduler-appointment-10min-title-font-size: null !default;
$generic-scheduler-appointment-10min-title-line-height: null !default;
$generic-scheduler-appointment-10min-icon-font-size: null !default;
$generic-scheduler-appointment-10min-icon-right: null !default;
$generic-scheduler-appointment-15min-recurrence-padding-right: null !default;
$generic-scheduler-appointment-15min-title-font-size: null !default;
$generic-scheduler-appointment-15min-title-line-height: null !default;
$generic-scheduler-appointment-15min-icon-font-size: null !default;
$generic-scheduler-appointment-15min-icon-right: null !default;
$generic-scheduler-appointment-20min-recurrence-padding-right: null !default;

$agenda-appointment-title-font-size: null !default;
$scheduler-timeline-cell-height: null !default;

$scheduler-left-column-width: 100px !default;
$generic-scheduler-group-header-agenda-font-size: 14px !default;

@if $size == "default" {
  $generic-scheduler-workspace-date-table-cell-height: 50px !default;
  $generic-scheduler-timeline-date-table-cell-height: 75px !default;

  $generic-scheduler-header-height: 36px !default;
  $generic-scheduler-header-offset: 9px 10px !default;
  $generic-scheduler-toolbar-item-offset: 2px !default;
  $generic-scheduler-navigator-height: 36px !default;
  $generic-scheduler-navigation-buttons-padding: 6px !default;

  $generic-scheduler-appointment-month-text-size: 13px !default;
  $generic-scheduler-workspace-info-text-size: 14px !default;
  $generic-scheduler-all-day-title-font-size: 14px !default;

  $generic-scheduler-appointment-content-padding: 5px 7px !default;
  $generic-scheduler-appointment-recurrence-content-padding: 5px 25px 5px 7px !default;
  $generic-scheduler-appointment-recurrence-content-padding-rtl: 5px 7px 5px 25px !default;

  $generic-scheduler-agenda-appointment-font-size: 16px !default;
  $generic-scheduler-group-header-table-cell-width: 80px !default;
  $generic-scheduler-appointment-transparent-left-border: 3px solid transparent !default;
  $generic-scheduler-appointment-transparent-right-border: 2px solid transparent !default;

  $generic-scheduler-dropdown-button-height: 20px !default;
  $generic-scheduler-dropdown-button-margin: 3px 2px 3px 3px !default;
  $generic-scheduler-dropdown-button-vertical-margin: 3px 2px 3px 0 !default;
  $generic-scheduler-dropdown-button-adaptive-margin: 0 2px !default;
  $generic-scheduler-dropdown-button-adaptive-vertical-margin: 0 2px 0 0 !default;

  $generic-scheduler-appointment-popup-toolbar-height: 43px !default;
  $generic-scheduler-appointment-popup-toolbar-label-size: 20px !default;
  $generic-scheduler-appointment-popup-icon-size: 18px !default;
  $generic-scheduler-appointment-popup-icon-container-height: 36px !default;
  $generic-scheduler-appointment-popup-icon-padding-right: 5px !default;
  $generic-scheduler-appointment-popup-icon-margin-top: 22px !default;
  $generic-scheduler-appointment-popup-item-padding-horizontal: 5px !default;
  $generic-scheduler-appointment-popup-item-padding-top: 20px !default;
  $generic-scheduler-appointment-popup-all-day-item-height: 36px !default;
  $generic-scheduler-appointment-popup-repeat-end-radio-margin-top: 10px !default;
  $generic-scheduler-appointment-popup-days-of-week-button-size: 32px !default;
  $generic-scheduler-appointment-popup-days-of-week-buttons-gap: 10px !default;
  $generic-scheduler-appointment-popup-repeat-end-item-height: 36px !default;

  $agenda-appointment-title-font-size: 16px;

  $scheduler-timeline-cell-height: 78px !default;

  $generic-scheduler-appointment-short-content-padding: 0 7px !default;
  $generic-scheduler-appointment-10min-height: 23px !default;
  $generic-scheduler-appointment-15min-height: 23px !default;
  $generic-scheduler-appointment-20min-height: 32px !default;
  $generic-scheduler-appointment-25min-height: 41px !default;

  $generic-scheduler-appointment-10min-recurrence-padding-right: 16px !default;
  $generic-scheduler-appointment-10min-title-font-size: 8px !default;
  $generic-scheduler-appointment-10min-title-line-height: 16px !default;
  $generic-scheduler-appointment-10min-icon-font-size: 14px !default;
  $generic-scheduler-appointment-10min-icon-right: 2px !default;

  $generic-scheduler-appointment-15min-recurrence-padding-right: 20px !default;
  $generic-scheduler-appointment-15min-title-font-size: 12px !default;
  $generic-scheduler-appointment-15min-title-line-height: 24px !default;
  $generic-scheduler-appointment-15min-icon-font-size: 18px !default;
  $generic-scheduler-appointment-15min-icon-right: 2px !default;

  $generic-scheduler-appointment-20min-recurrence-padding-right: 24px !default;
}

@else if $size == "compact" {
  $generic-scheduler-workspace-date-table-cell-height: 36px !default;
  $generic-scheduler-timeline-date-table-cell-height: 50px !default;

  $generic-scheduler-header-height: 26px !default;
  $generic-scheduler-header-offset: 6px 7px !default;
  $generic-scheduler-toolbar-item-offset: 0 !default;
  $generic-scheduler-navigator-height: 25px !default;
  $generic-scheduler-navigation-buttons-padding: 4px !default;

  $generic-scheduler-appointment-month-text-size: 11px !default;
  $generic-scheduler-workspace-info-text-size: 12px !default;
  $generic-scheduler-all-day-title-font-size: 11px !default;

  $generic-scheduler-appointment-content-padding: 2px 5px !default;
  $generic-scheduler-appointment-recurrence-content-padding: 2px 25px 2px 5px !default;
  $generic-scheduler-appointment-recurrence-content-padding-rtl: 2px 5px 2px 25px !default;

  $generic-scheduler-agenda-appointment-font-size: 14px !default;
  $generic-scheduler-group-header-table-cell-width: 60px !default;
  $generic-scheduler-appointment-transparent-left-border: 2px solid transparent !default;
  $generic-scheduler-appointment-transparent-right-border: 1px solid transparent !default;

  $generic-scheduler-dropdown-button-height: 17px !default;
  $generic-scheduler-dropdown-button-margin: 3px 1px 3px 3px !default;
  $generic-scheduler-dropdown-button-vertical-margin: 3px 1px 3px 0 !default;
  $generic-scheduler-dropdown-button-adaptive-margin: 0 2px !default;
  $generic-scheduler-dropdown-button-adaptive-vertical-margin: 0 2px 0 0 !default;

  $generic-scheduler-appointment-popup-toolbar-height: 39px !default;
  $generic-scheduler-appointment-popup-toolbar-label-size: 18px !default;
  $generic-scheduler-appointment-popup-icon-size: 14px !default;
  $generic-scheduler-appointment-popup-icon-container-height: 26px !default;
  $generic-scheduler-appointment-popup-icon-padding-right: 5px !default;
  $generic-scheduler-appointment-popup-icon-margin-top: 18px !default;
  $generic-scheduler-appointment-popup-item-padding-horizontal: 5px !default;
  $generic-scheduler-appointment-popup-item-padding-top: 10px !default;
  $generic-scheduler-appointment-popup-all-day-item-height: 24px !default;
  $generic-scheduler-appointment-popup-repeat-end-radio-margin-top: 6px !default;
  $generic-scheduler-appointment-popup-days-of-week-button-size: 24px !default;
  $generic-scheduler-appointment-popup-days-of-week-buttons-gap: 6px !default;
  $generic-scheduler-appointment-popup-repeat-end-item-height: 26px !default;

  $agenda-appointment-title-font-size: 16px;

  $scheduler-timeline-cell-height: 50px !default;

  $generic-scheduler-appointment-short-content-padding: 0 5px !default;
  $generic-scheduler-appointment-10min-height: 14px !default;
  $generic-scheduler-appointment-15min-height: 23px !default;
  $generic-scheduler-appointment-20min-height: 32px !default;
  $generic-scheduler-appointment-25min-height: 41px !default;

  $generic-scheduler-appointment-10min-title-font-size: 8px !default;
  $generic-scheduler-appointment-10min-title-line-height: 16px !default;
  $generic-scheduler-appointment-10min-recurrence-padding-right: 16px !default;
  $generic-scheduler-appointment-10min-icon-font-size: 14px !default;
  $generic-scheduler-appointment-10min-icon-right: 2px !default;

  $generic-scheduler-appointment-15min-recurrence-padding-right: 16px !default;
  $generic-scheduler-appointment-15min-title-font-size: 12px !default;
  $generic-scheduler-appointment-15min-title-line-height: 16px !default;
  $generic-scheduler-appointment-15min-icon-font-size: 14px !default;
  $generic-scheduler-appointment-15min-icon-right: 2px !default;

  $generic-scheduler-appointment-20min-recurrence-padding-right: 20px !default;
}
