@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. Border color
* $type color
*/
$switch-border-color: $base-border-color !default;

/**
* $name 10. 'ON' label color
* $type color
*/
$switch-on-color: $base-text-color !default;
$switch-bg: null !default;
$switch-handle-bg: null !default;
$switch-handle-border-radius: $base-border-radius - 2px !default;

$switch-handle-active-bg: null !default;
$switch-hover-border-color: null !default;
$switch-focused-border-color: null !default;

/**
* $name 30. Active state background color
* $type color
*/
$switch-container-active-bg: null !default;
$switch-hover-bg: null !default;
$switch-active-border-color: null !default;

/**
* $name 20. 'OFF' label color
* $type color
*/
$switch-off-color: null !default;
$switch-handle-off-bg: null !default;
$switch-readonly-border-color: null !default;
$switch-container-readonly-bg: null !default;
$switch-border-radius: null !default;

@if $color == "carmine" {
  $switch-bg: $base-element-bg !default;
  $switch-handle-bg: $base-accent !default;
  $switch-handle-active-bg: color.adjust($switch-handle-bg, $lightness: -17%, $space: hsl) !default;
  $switch-hover-border-color: $base-accent !default;
  $switch-focused-border-color: $base-focus-bg !default;
  $switch-container-active-bg: color.change(color.adjust($switch-bg, $lightness: -62.5%, $space: hsl), $alpha: 0.2) !default;
  $switch-hover-bg: transparent !default;
  $switch-active-border-color: $base-accent !default;

  $switch-off-color: color.adjust($base-text-color, $lightness: 40%, $space: hsl) !default;
  $switch-handle-off-bg: color.adjust($switch-handle-bg, $lightness: 15%, $space: hsl) !default;
  $switch-readonly-border-color: color.adjust($switch-border-color, $lightness: 9%, $space: hsl) !default;
  $switch-container-readonly-bg: $switch-bg !default;
  $switch-border-radius: $base-border-radius-exsmall !default;
}

@if $color == "contrast" {
  $switch-bg: $base-bg !default;
  $switch-handle-bg: $base-inverted-bg !default;
  $switch-handle-active-bg: $base-inverted-bg !default;
  $switch-hover-border-color: $base-border-color !default;
  $switch-hover-bg: $base-hover-color !default;
  $switch-focused-border-color: $base-focus-color !default;
  $switch-container-active-bg: $base-bg !default;
  $switch-active-border-color: $base-border-color !default;
  $switch-off-color: $base-text-color !default;
  $switch-handle-off-bg: $base-inverted-bg !default;
  $switch-readonly-border-color: color.adjust($switch-border-color, $lightness: -50%, $space: hsl) !default;
  $switch-container-readonly-bg: $switch-bg !default;
  $switch-border-radius: $base-border-radius - 2px !default;
}

@if $color == "dark" {
  $switch-bg: $base-element-bg !default;
  $switch-handle-bg: $base-accent !default;
  $switch-handle-active-bg: color.adjust($switch-handle-bg, $lightness: 17%, $space: hsl) !default;
  $switch-hover-border-color: $base-accent !default;
  $switch-focused-border-color: $base-focus-bg !default;
  $switch-container-active-bg: color.change(color.adjust($switch-bg, $lightness: 62.5%, $space: hsl), $alpha: 0.2) !default;
  $switch-hover-bg: transparent !default;
  $switch-active-border-color: $base-accent !default;
  $switch-off-color: color.adjust($base-text-color, $lightness: -40%, $space: hsl) !default;
  $switch-handle-off-bg: color.adjust($switch-handle-bg, $lightness: -15%, $space: hsl) !default;
  $switch-readonly-border-color: color.adjust($switch-border-color, $lightness: -9%, $space: hsl) !default;
  $switch-container-readonly-bg: $switch-bg !default;
  $switch-border-radius: $base-border-radius-exsmall !default;
}

@if $color == "darkmoon" {
  $switch-bg: $base-element-bg !default;
  $switch-handle-bg: $base-accent !default;
  $switch-handle-active-bg: color.adjust($switch-handle-bg, $lightness: 17%, $space: hsl) !default;
  $switch-hover-border-color: $base-accent !default;
  $switch-focused-border-color: $base-focus-bg !default;
  $switch-container-active-bg: color.change(color.adjust($switch-bg, $lightness: 62.5%, $space: hsl), $alpha: 0.2) !default;
  $switch-hover-bg: transparent !default;
  $switch-active-border-color: $base-accent !default;
  $switch-off-color: color.adjust($base-text-color, $lightness: -40%, $space: hsl) !default;
  $switch-handle-off-bg: color.adjust($switch-handle-bg, $lightness: -15%, $space: hsl) !default;
  $switch-readonly-border-color: color.adjust($switch-border-color, $lightness: -9%, $space: hsl) !default;
  $switch-container-readonly-bg: $switch-bg !default;
  $switch-border-radius: $base-border-radius-exsmall !default;
}

@if $color == "darkviolet" {
  $switch-bg: $base-element-bg !default;
  $switch-handle-bg: $base-accent !default;
  $switch-handle-active-bg: color.adjust($switch-handle-bg, $lightness: 17%, $space: hsl) !default;
  $switch-hover-border-color: $base-accent !default;
  $switch-focused-border-color: $base-focus-bg !default;
  $switch-container-active-bg: color.change(color.adjust($switch-bg, $lightness: 62.5%, $space: hsl), $alpha: 0.2) !default;
  $switch-hover-bg: transparent !default;
  $switch-active-border-color: $base-accent !default;
  $switch-off-color: color.adjust($base-text-color, $lightness: -40%, $space: hsl) !default;
  $switch-handle-off-bg: color.adjust($switch-handle-bg, $lightness: -15%, $space: hsl) !default;
  $switch-readonly-border-color: color.adjust($switch-border-color, $lightness: -9%, $space: hsl) !default;
  $switch-container-readonly-bg: $switch-bg !default;
  $switch-border-radius: $base-border-radius-exsmall !default;
}

@if $color == "greenmist" {
  $switch-bg: $base-element-bg !default;
  $switch-handle-bg: $base-accent !default;
  $switch-handle-active-bg: color.adjust($switch-handle-bg, $lightness: -17%, $space: hsl) !default;
  $switch-hover-border-color: $base-accent !default;
  $switch-focused-border-color: $base-focus-bg !default;
  $switch-container-active-bg: color.change(color.adjust($base-bg, $lightness: -9%, $space: hsl), $alpha: 0.4) !default;
  $switch-hover-bg: transparent !default;
  $switch-active-border-color: $base-accent !default;
  $switch-off-color: color.adjust($base-text-color, $lightness: 40%, $space: hsl) !default;
  $switch-handle-off-bg: color.adjust($switch-handle-bg, $lightness: 15%, $space: hsl) !default;
  $switch-readonly-border-color: color.adjust($switch-border-color, $lightness: 9%, $space: hsl) !default;
  $switch-container-readonly-bg: $switch-bg !default;
  $switch-border-radius: $base-border-radius-exsmall !default;
}

@if $color == "light" {
  $switch-bg: $base-element-bg !default;
  $switch-handle-bg: $base-accent !default;
  $switch-handle-active-bg: color.adjust($switch-handle-bg, $lightness: -17%, $space: hsl) !default;
  $switch-hover-border-color: $base-accent !default;
  $switch-focused-border-color: $base-focus-bg !default;
  $switch-container-active-bg: color.change(color.adjust($switch-bg, $lightness: -62.5%, $space: hsl), $alpha: 0.2) !default;
  $switch-hover-bg: transparent !default;
  $switch-active-border-color: $base-accent !default;
  $switch-off-color: color.adjust($base-text-color, $lightness: 40%, $space: hsl) !default;
  $switch-handle-off-bg: color.adjust($switch-handle-bg, $lightness: 15%, $space: hsl) !default;
  $switch-readonly-border-color: color.adjust($switch-border-color, $lightness: 9%, $space: hsl) !default;
  $switch-container-readonly-bg: $switch-bg !default;
  $switch-border-radius: $base-border-radius-exsmall !default;
}

@if $color == "softblue" {
  $switch-bg: $base-element-bg !default;
  $switch-handle-bg: $base-accent !default;
  $switch-handle-active-bg: color.adjust($switch-handle-bg, $lightness: -17%, $space: hsl) !default;
  $switch-hover-border-color: $base-accent !default;
  $switch-focused-border-color: $base-focus-bg !default;
  $switch-container-active-bg: color.change(color.adjust($switch-bg, $lightness: -62.5%, $space: hsl), $alpha: 0.2) !default;
  $switch-hover-bg: transparent !default;
  $switch-active-border-color: $base-accent !default;
  $switch-off-color: color.adjust($base-text-color, $lightness: 40%, $space: hsl) !default;
  $switch-handle-off-bg: color.adjust($switch-handle-bg, $lightness: 15%, $space: hsl) !default;
  $switch-readonly-border-color: color.adjust($switch-border-color, $lightness: 9%, $space: hsl) !default;
  $switch-container-readonly-bg: $switch-bg !default;
  $switch-border-radius: $base-border-radius-exsmall !default;
}

