@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$checkbox-border-color: color.change($base-text-color, $alpha: 0.54) !default;
$checkbox-checked-color: $base-element-bg !default;
$checkbox-indeterminate-bg: $base-accent !default;
$checkbox-bg: $base-accent !default;
$checkbox-hover-border-color: color.adjust($base-accent, $lightness: -12%, $space: hsl) !default;
$checkbox-invalid-focused-border-color: $base-invalid-color !default;
