.dx-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 22.45em;
  min-height: 38em;
  overflow-y: auto;

  &.dx-state-disabled {
    opacity: 0.5;
  }
}

@keyframes dx-chat-animation-fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dx-chat-animation-fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
