@use "../colors" as *;
@use "../color" as extcolor;
@use "sass:color";

// adduse

$informer-error-color: $base-danger !default;
$informer-error-background-color: null !default;
$informer-info-color: $base-text-color !default;
$informer-info-background-color: null !default;

@if $mode == "light" {
  $informer-error-background-color: color.adjust($base-danger, $hue: 1deg, $saturation: -24.92%, $space: hsl, $lightness: 38.24%);
  $informer-info-background-color: extcolor.adjust-if-not-achromatic($color: $base-text-color, $hue: -240deg, $saturation: -100.00%, $lightness: 48.63%);
}

@if $mode == "dark" {
  $informer-error-background-color: color.adjust($base-danger, $hue: 1deg, $saturation: -41.80%, $space: hsl, $lightness: -53.92%);
  $informer-info-background-color: extcolor.adjust-if-not-achromatic($color: $base-text-color, $hue: 240deg, $saturation: 6.04%, $lightness: -70.78%);
}
