@use "sass:color";
@use "../colors" as *;
@use "../color" as extcolor;

// adduse

/**
* $name 140. Badge text color
* $type color
*/
$badge-color: null !default;

/**
* $name 150. Badge background color
* $type color
*/
$badge-bg: null !default;

$badge-text-color-disabled: $base-foreground-disabled !default;
$badge-background-color-disabled: $base-background-disabled !default;

@if $mode == "light" {
  $badge-bg: $base-accent !default;
  $badge-color: $base-inverted-text-color !default;
}

@if $mode == "dark" {
  $badge-bg: color.adjust($base-accent, $hue: 358.4deg, $saturation: -8.6%, $space: hsl, $lightness: -26.7%) !default;
  $badge-color: $base-text-color !default;
}
