@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../button/colors" as *;
@use "../color" as extcolor;

// adduse

/**
* $name 10. Border color
* $type color
*/
$scheduler-base-border-color: $base-border-color !default;
$scheduler-cell-active-bg: null !default;
$scheduler-cell-hover-bg: null !default;
$scheduler-group-separator-border-color: color.adjust($base-border-color, $lightness: -13%, $space: hsl) !default;

/**
* $name 20. Hour separator color
* $type color
*/
$scheduler-accent-border-color: $base-border-color !default;

/**
* $name 30. Appointment text color
* $type color
*/
$scheduler-appointment-text-color: null !default;
$scheduler-appointment-focus-color: null !default;

/**
* $name 40. Appointment background color
* $type color
*/
$scheduler-appointment-base-color: null !default;

/**
* $name 50. Appointment start color
* $type color
*/
$scheduler-appointment-start-color: color.change($base-shadow-color, $alpha: 0.3) !default;
$scheduler-appointment-active-color: $button-default-outlined-active-bg;

/**
* $name 60. Focused cell color
* $type color
*/
$scheduler-workspace-focused-cell-color: null !default;

/**
* $name 70. First day of month separator color
* $type color
*/
$scheduler-first-month-border-color: $base-border-color !default;
$scheduler-droppable-cell-background-color: color.adjust($base-element-bg, $lightness: -5%, $space: hsl) !default;
$scheduler-panel-text-color: color.change($base-text-color, $alpha: 0.54) !default;
$scheduler-workspace-background-color: $base-bg !default;
$scheduler-workspace-accent-color: $base-accent !default;

/**
* $name 80. Date-time indicator color
* $type color
*/
$scheduler-current-time-cell-color: $base-accent !default;
$scheduler-time-indicator-color: #eb5757 !default;
$scheduler-dd-appointment-hover-text-color: $base-inverted-text-color !default;
$scheduler-form-icon-color: $base-icon-color !default;
$scheduler-popup-title-bg: $scheduler-workspace-background-color !default;
$scheduler-workspace-month-text-color: color.change($base-text-color, $alpha: 0.54) !default;
$scheduler-dropdown-appointment-date-color: color.change($base-text-color, $alpha: 0.54) !default;
$scheduler-workspace-active-cell-color: $scheduler-accent-border-color !default;
$scheduler-workspace-hovered-cell-color: $scheduler-workspace-month-text-color !default;
$scheduler-header-bg: $base-bg !default;
$scheduler-alldaypanel-bg: $base-element-bg !default;
$scheduler-other-month-cell-opacity: 0.5 !default;
$scheduler-fill-focused-appointment: false !default;
$scheduler-is-shadow-color-for-focused-state: false !default;
$scheduler-time-indicator-background-color: rgba(0, 0, 0, 0.03) !default;

$scheduler-tooltip-appointment-text-color: $base-text-color !default;
$scheduler-appointment-overlay-bg: $base-bg !default;

// Agenda
$agenda-appointment-recurrence-icon-color: $base-inverted-text-color !default;
$agenda-appointment-hover-bg: $base-hover-bg !default;
$agenda-appointment-active-bg: color.change(#000, $alpha: 0.08) !default;
$agenda-appointment-text-color: $base-text-color !default;

$header-panel-cell-date: null !default;

@if $mode == "light" {
  $scheduler-workspace-month-text-color: #707070;
  $scheduler-appointment-text-color: #000 !default;
  $scheduler-panel-text-color: #707070;
  $header-panel-cell-date: #424242;

  @if $color == "blue"{
    $scheduler-appointment-base-color: color.adjust($base-accent, $lightness: 48%, $space: hsl) !default;
    $scheduler-cell-hover-bg: $base-hover-bg !default;
    $scheduler-cell-active-bg: color.change(color.adjust($base-bg, $lightness: -13.3%, $space: hsl), $alpha: 0.7) !default;
    $scheduler-workspace-focused-cell-color: color.change($base-accent, $alpha: 0.12) !default;
  }

  @if $color == "saas" {
    $scheduler-appointment-base-color: color.adjust($base-accent, $lightness: 30%, $space: hsl) !default;
    $scheduler-cell-hover-bg: color.adjust($base-hover-bg, $lightness: 4.10%, $space: hsl) !default;
    $scheduler-cell-active-bg: extcolor.adjust-if-not-achromatic($color: $base-bg, $hue: 222deg, $saturation: 100%, $lightness: -2%) !default;
    $scheduler-workspace-focused-cell-color: color.adjust($base-accent, $lightness: 32.53%, $space: hsl) !default;
  }
}

@if $mode == "dark" {
  $scheduler-workspace-month-text-color: #999;
  $scheduler-appointment-base-color: color.adjust($base-accent, $lightness: -48%, $space: hsl) !default;
  $scheduler-appointment-text-color: #fff !default;
  $scheduler-panel-text-color: #999;
  $header-panel-cell-date: #adadad;
  $scheduler-cell-hover-bg: $base-hover-bg !default;

  @if $color == "blue"{
    $scheduler-cell-active-bg: color.change(color.adjust($base-bg, $lightness: -13.3%, $space: hsl), $alpha: 0.7) !default;
    $scheduler-workspace-focused-cell-color: color.change($base-accent, $alpha: 0.12) !default;
  }

  @if $color == "saas" {
    $scheduler-cell-active-bg: color.adjust($base-bg, $lightness: 4.31%, $space: hsl) !default;
    $scheduler-workspace-focused-cell-color: color.adjust($base-accent, $hue: -7deg, $saturation: -65.00%, $space: hsl, $lightness: -41.18%) !default;
  }
}

$scheduler-first-month-cell-background-color: color.adjust($scheduler-appointment-base-color, $alpha: -0.85) !default;
$scheduler-appointment-focus-color: $scheduler-appointment-text-color;
