@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../color" as extcolor;

// adduse

/**
* $name 10. Bar background color
* $type color
*/
$progressbar-bg: null !default;
$progressbar-border-color: null !default;

/**
* $name 20. Selected range background color
* $type color
*/
$progressbar-range-bg: $base-accent !default;
$progressbar-range-border-color: $base-accent !default;
$progressbar-range-disabled-bg: color.change($base-accent, $alpha: 0.6) !default;
$progressbar-range-indeterminate-color: $base-accent !default;

@if $color == "carmine" {
  $progressbar-bg: color.adjust($base-bg, $lightness: -13.5%, $space: hsl) !default;
  $progressbar-border-color: $base-border-color !default;
}

@if $color == "contrast" {
  $progressbar-bg: $base-bg !default;
  $progressbar-border-color: $base-accent !default;
}

@if $color == "dark" {
  $progressbar-bg: color.adjust($base-bg, $lightness: 13.5%, $space: hsl) !default;
  $progressbar-border-color: $base-border-color !default;
}

@if $color == "darkmoon" {
  $progressbar-bg: extcolor.difference($base-bg, #212121) !default; // #465672 => #253552
  $progressbar-border-color: $base-border-color !default;
}

@if $color == "darkviolet" {
  $progressbar-bg: color.adjust($base-bg, $lightness: 13.5%, $space: hsl) !default;
  $progressbar-border-color: $base-border-color !default;
}

@if $color == "greenmist" {
  $progressbar-bg: color.adjust($base-bg, $lightness: -9%, $space: hsl) !default;
  $progressbar-border-color: $base-border-color !default;
}

@if $color == "light" {
  $progressbar-bg: color.adjust($base-bg, $lightness: -13.5%, $space: hsl) !default;
  $progressbar-border-color: $base-border-color !default;
}

@if $color == "softblue" {
  $progressbar-bg: color.adjust($base-bg, $lightness: -13.5%, $space: hsl) !default;
  $progressbar-border-color: $base-border-color !default;
}

