@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../overlay/colors" as *;
@use "../color" as extcolor;

// adduse

/**
* $name 10. Text color
* $type color
*/
$tooltip-color: null !default;

/**
* $name 20. Background color
* $type color
*/
$tooltip-bg: null !default;

/**
* $name 30. Border color
* $type color
*/
$tooltip-border-color: null !default;
$tooltip-shadow-color: null !default;
$tooltip-border-radius: $base-border-radius !default;

@if $color == "carmine" {
  $tooltip-color: $base-text-color !default;
  $tooltip-bg: $base-bg !default;
  $tooltip-border-color: $overlay-border-color !default;
  $tooltip-shadow-color: color.change(color.adjust($tooltip-bg, $lightness: -100%, $space: hsl), $alpha: 0.1) !default;
}

@if $color == "contrast" {
  $tooltip-color: $base-inverted-text-color !default;
  $tooltip-bg: $base-inverted-bg !default;
  $tooltip-border-color: $base-border-color !default;
  $tooltip-shadow-color: $base-shadow-color !default;
}

@if $color == "dark" {
  $tooltip-color: $base-text-color !default;
  $tooltip-bg: $base-bg !default;
  $tooltip-border-color: $overlay-border-color !default;
  $tooltip-shadow-color: $overlay-content-shadow-color !default;
}

@if $color == "darkmoon" {
  $tooltip-color: $base-text-color !default;
  $tooltip-bg: color.adjust($base-bg, $lightness: 14%, $space: hsl) !default; // #465672 => #62789e
  $tooltip-border-color: $overlay-border-color !default;
  $tooltip-shadow-color: $overlay-content-shadow-color !default;
}

@if $color == "darkviolet" {
  $tooltip-color: $base-text-color !default;
  $tooltip-bg: $base-bg !default;
  $tooltip-border-color: $base-hover-bg !default;
  $tooltip-shadow-color: $overlay-content-shadow-color !default;
}

@if $color == "greenmist" {
  $tooltip-color: $base-text-color !default;
  $tooltip-bg: color.adjust($base-bg, $lightness: 100%, $space: hsl) !default;
  $tooltip-border-color: $overlay-border-color !default;
  $tooltip-shadow-color: color.change(color.adjust($tooltip-bg, $lightness: -100%, $space: hsl), $alpha: 0.1) !default;
}

@if $color == "light" {
  $tooltip-color: $base-text-color !default;
  $tooltip-bg: $base-bg !default;
  $tooltip-border-color: $overlay-border-color !default;
  $tooltip-shadow-color: color.change(color.adjust($tooltip-bg, $lightness: -100%, $space: hsl), $alpha: 0.1) !default;
}

@if $color == "softblue" {
  $tooltip-color: $base-text-color !default;
  $tooltip-bg: $base-bg !default;
  $tooltip-border-color: $overlay-border-color !default;
  $tooltip-shadow-color: color.change(color.adjust($tooltip-bg, $lightness: -100%, $space: hsl), $alpha: 0.1) !default;
}
