@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. Indicator color
* $type color
*/
$load-indicator-segment-bg-color: $base-accent !default;
$load-indicator-animation-sparkle-bg-color1: null !default;
$load-indicator-animation-sparkle-bg-color2: null !default;
$load-indicator-animation-sparkle-bg-color3: null !default;

@if $mode == "light" {
  $load-indicator-animation-sparkle-bg-color1: $base-accent !default;
  $load-indicator-animation-sparkle-bg-color2: color.adjust($base-accent, $hue: 4deg, $saturation: -6.73%, $space: hsl, $lightness: 25.88%) !default;
  $load-indicator-animation-sparkle-bg-color3: color.adjust($base-accent, $hue: 4deg, $saturation: -6.87%, $space: hsl, $lightness: 34.71%) !default;
}

@else if $mode == "dark" {
  $load-indicator-animation-sparkle-bg-color1: color.adjust($base-accent, $lightness: 19.22%, $space: hsl) !default;
  $load-indicator-animation-sparkle-bg-color2: color.adjust($base-accent, $hue: 2deg, $saturation: -58.44%, $space: hsl, $lightness: 1.18%) !default;
  $load-indicator-animation-sparkle-bg-color3: color.adjust($base-accent, $hue: 3deg, $saturation: -64.56%, $space: hsl, $lightness: -7.45%) !default;
}
