@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. Indicator color
* $type color
*/
$loadindicator-bg: null !default;
$loadindicator-segment-shadow-color: null !default;
$load-indicator-animation-sparkle-bg-color1: null !default;
$load-indicator-animation-sparkle-bg-color2: null !default;
$load-indicator-animation-sparkle-bg-color3: null !default;

@if $color == "carmine" {
  $loadindicator-bg: $base-accent !default;
  $loadindicator-segment-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $load-indicator-animation-sparkle-bg-color1: $base-accent !default;
  $load-indicator-animation-sparkle-bg-color2: color.adjust($base-accent, $saturation: -8.58%, $space: hsl, $lightness: 27.06%) !default;
  $load-indicator-animation-sparkle-bg-color3: color.adjust($base-accent, $hue: 2deg, $saturation: -6.88%, $space: hsl, $lightness: 33.14%) !default;
}

@if $color == "contrast" {
  $loadindicator-bg: $base-inverted-bg !default;
  $loadindicator-segment-shadow-color: $base-shadow-color !default;
  $load-indicator-animation-sparkle-bg-color1: $base-accent !default;
  $load-indicator-animation-sparkle-bg-color2: color.adjust($base-accent, $saturation: -25.83%, $space: hsl, $lightness: -19.61%) !default;
  $load-indicator-animation-sparkle-bg-color3: color.adjust($base-accent, $hue: 1deg, $saturation: -44.18%, $space: hsl, $lightness: -11.76%) !default;
}

@if $color == "dark" {
  $loadindicator-bg: color.adjust($base-text-color, $lightness: -17.5%, $space: hsl) !default;
  $loadindicator-segment-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $load-indicator-animation-sparkle-bg-color1: $base-accent !default;
  $load-indicator-animation-sparkle-bg-color2: color.adjust($base-accent, $saturation: -25.83%, $space: hsl, $lightness: -19.61%) !default;
  $load-indicator-animation-sparkle-bg-color3: color.adjust($base-accent, $hue: 1deg, $saturation: -44.18%, $space: hsl, $lightness: -11.76%) !default;
}

@if $color == "darkmoon" {
  $loadindicator-bg: $base-accent !default;
  $loadindicator-segment-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $load-indicator-animation-sparkle-bg-color1: $base-accent !default;
  $load-indicator-animation-sparkle-bg-color2: color.adjust($base-accent, $saturation: -25.83%, $space: hsl, $lightness: -19.61%) !default;
  $load-indicator-animation-sparkle-bg-color3: color.adjust($base-accent, $hue: 1deg, $saturation: -44.18%, $space: hsl, $lightness: -11.76%) !default;
}

@if $color == "darkviolet" {
  $loadindicator-bg: $base-accent-highlight-color !default;
  $loadindicator-segment-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $load-indicator-animation-sparkle-bg-color1: $base-accent !default;
  $load-indicator-animation-sparkle-bg-color2: color.adjust($base-accent, $saturation: -25.83%, $space: hsl, $lightness: -19.61%) !default;
  $load-indicator-animation-sparkle-bg-color3: color.adjust($base-accent, $hue: 1deg, $saturation: -44.18%, $space: hsl, $lightness: -11.76%) !default;
}

@if $color == "greenmist" {
  $loadindicator-bg: color.adjust($base-text-color, $lightness: 17.5%, $space: hsl) !default;
  $loadindicator-segment-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $load-indicator-animation-sparkle-bg-color1: $base-accent !default;
  $load-indicator-animation-sparkle-bg-color2: color.adjust($base-accent, $saturation: -8.58%, $space: hsl, $lightness: 27.06%) !default;
  $load-indicator-animation-sparkle-bg-color3: color.adjust($base-accent, $hue: 2deg, $saturation: -6.88%, $space: hsl, $lightness: 33.14%) !default;
}

@if $color == "light" {
  $loadindicator-bg: color.adjust($base-text-color, $lightness: 17.5%, $space: hsl) !default;
  $loadindicator-segment-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $load-indicator-animation-sparkle-bg-color1: $base-accent !default;
  $load-indicator-animation-sparkle-bg-color2: color.adjust($base-accent, $saturation: -8.58%, $space: hsl, $lightness: 27.06%) !default;
  $load-indicator-animation-sparkle-bg-color3: color.adjust($base-accent, $hue: 2deg, $saturation: -6.88%, $space: hsl, $lightness: 33.14%) !default;
}

@if $color == "softblue" {
  $loadindicator-bg: $base-accent !default;
  $loadindicator-segment-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $load-indicator-animation-sparkle-bg-color1: $base-accent !default;
  $load-indicator-animation-sparkle-bg-color2: color.adjust($base-accent, $saturation: -8.58%, $space: hsl, $lightness: 27.06%) !default;
  $load-indicator-animation-sparkle-bg-color3: color.adjust($base-accent, $hue: 2deg, $saturation: -6.88%, $space: hsl, $lightness: 33.14%) !default;
}

