@use "sass:color";
@use "../../sizes" as *;
@use "../../colors" as *;
@use "../../button/colors" as *;

// adduse

/**
* $name 10. Tab text color
* $type color
*/
$tabs-tab-color: $base-text-color !default;

/**
* $name 20. Selected tab text color
* $type color
*/
$tabs-tab-selected-color: null !default;

/**
* $name 30. Tab background color
* $type color
*/
$tabs-tab-bg: null !default;

/**
* $name 40. Selected tab background color
* $type color
*/
$tabs-tab-selected-bg: null !default;
$tabs-tab-icon-color: null !default;
$tabs-tab-icon-selected-color: null !default;
$tabs-tab-button-disabled-opacity: $base-disabled-opacity !default;

/**
* $name 30. Border color
* $type color
*/
$tabs-border-color: $base-border-color !default;

/**
* $name 40. Focus border color
* $type color
*/
$tabs-focused-border-color: null !default;

$tabs-focused-disabled-border-color: null !default;

/**
* $name 50. Hover background color
* $type color
*/
$tabs-tab-hover-bg: null !default;
$tabs-tab-active-bg: null !default;
$tabs-tab-active-border-color: null !default;
$tabs-tab-hover-border-color-horizontal: null !default;
$tabs-tab-hover-border-color-vertical: null !default;

@if $color == "carmine" {
  $tabs-tab-selected-color: $base-text-color !default;
  $tabs-tab-bg: color.adjust($base-bg, $lightness: -2%, $space: hsl) !default;
  $tabs-tab-selected-bg: $base-bg !default;
  $tabs-tab-icon-color: $tabs-tab-color !default;
  $tabs-tab-icon-selected-color: $tabs-tab-selected-color !default;
  $tabs-focused-border-color: $base-focus-bg !default;
  $tabs-focused-disabled-border-color: color.adjust($base-border-color, $lightness: -20%, $space: hsl) !default;
  $tabs-tab-hover-bg: $base-hover-bg !default;
  $tabs-tab-active-bg: color.change(color.adjust($tabs-tab-bg, $lightness: -62.5%, $space: hsl), $alpha: 0.2) !default;
  $tabs-tab-active-border-color: color.change(color.adjust($base-border-color, $lightness: -2.55%, $space: hsl)) !default;
  $tabs-tab-hover-border-color-horizontal: $base-border-color !default;
  $tabs-tab-hover-border-color-vertical: color.change(color.adjust($base-accent, $lightness: 33.92%, $space: hsl)) !default;
}

@if $color == "contrast" {
  $tabs-tab-bg: $base-bg !default;
  $tabs-tab-hover-bg: $base-hover-color !default;
  $tabs-tab-selected-bg: $base-inverted-bg !default;
  $tabs-tab-selected-color: $base-inverted-text-color !default;
  $tabs-tab-icon-color: $base-icon-color !default;
  $tabs-tab-icon-selected-color: $base-inverted-text-color !default;
  $tabs-focused-border-color: $base-focus-color !default;
  $tabs-focused-disabled-border-color: color.adjust($base-border-color, $lightness: -20%, $space: hsl) !default;
  $tabs-tab-active-bg: $base-inverted-bg !default;
  $tabs-tab-active-border-color: $base-border-color !default;
  $tabs-tab-hover-border-color-horizontal: $base-border-color !default;
  $tabs-tab-hover-border-color-vertical: $tabs-tab-hover-bg !default;
}

@if $color == "dark" {
  $tabs-tab-selected-color: $base-text-color !default;
  $tabs-tab-bg: color.adjust($base-bg, $lightness: 3%, $space: hsl) !default;
  $tabs-tab-selected-bg: $base-bg !default;
  $tabs-tab-icon-color: $tabs-tab-color !default;
  $tabs-tab-icon-selected-color: $tabs-tab-selected-color !default;
  $tabs-focused-border-color: $base-focus-bg !default;
  $tabs-focused-disabled-border-color: color.adjust($base-border-color, $lightness: 20%, $space: hsl) !default;
  $tabs-tab-hover-bg: $base-element-bg !default;
  $tabs-tab-active-bg: color.change(color.adjust($tabs-tab-bg, $lightness: 62.5%, $space: hsl), $alpha: 0.2) !default;
  $tabs-tab-active-border-color: color.change(color.adjust($tabs-tab-bg, $lightness: 12.55%, $space: hsl)) !default;
  $tabs-tab-hover-border-color-horizontal: $base-border-color !default;
  $tabs-tab-hover-border-color-vertical: $tabs-tab-hover-bg !default;
}

@if $color == "darkmoon" {
  $tabs-tab-selected-color: $base-text-color !default;
  $tabs-tab-bg: color.adjust($base-bg, $lightness: -3%, $space: hsl) !default;
  $tabs-tab-selected-bg: $base-bg !default;
  $tabs-tab-icon-color: $tabs-tab-color !default;
  $tabs-tab-icon-selected-color: $tabs-tab-selected-color !default;
  $tabs-focused-border-color: $base-focus-bg !default;
  $tabs-focused-disabled-border-color: color.adjust($base-border-color, $lightness: 20%, $space: hsl) !default;
  $tabs-tab-hover-bg: $base-element-bg !default;
  $tabs-tab-active-bg: color.change(color.adjust($tabs-tab-bg, $lightness: 62.5%, $space: hsl), $alpha: 0.2) !default;
  $tabs-tab-active-border-color: transparent !default;
  $tabs-tab-hover-border-color-horizontal: $base-border-color !default;
  $tabs-tab-hover-border-color-vertical: $tabs-tab-hover-bg !default;
}

@if $color == "darkviolet" {
  $tabs-tab-selected-color: $base-text-color !default;
  $tabs-tab-bg: color.adjust($base-bg, $lightness: 3%, $space: hsl) !default;
  $tabs-tab-selected-bg: $base-bg !default;
  $tabs-tab-icon-color: $tabs-tab-color !default;
  $tabs-tab-icon-selected-color: $tabs-tab-selected-color !default;
  $tabs-focused-border-color: $base-focus-bg !default;
  $tabs-focused-disabled-border-color: color.adjust($base-border-color, $lightness: 20%, $space: hsl) !default;
  $tabs-tab-hover-bg: $base-hover-bg !default;
  $tabs-tab-active-bg: color.change(color.adjust($tabs-tab-bg, $lightness: 62.5%, $space: hsl), $alpha: 0.2) !default;
  $tabs-tab-active-border-color: color.change(color.adjust($base-bg, $lightness: 15.49%, $space: hsl)) !default;
  $tabs-tab-hover-border-color-horizontal: $base-border-color !default;
  $tabs-tab-hover-border-color-vertical: color.change(color.adjust($tabs-tab-bg, $lightness: 16.86%, $space: hsl)) !default;
}

@if $color == "greenmist" {
  $tabs-tab-selected-color: $base-text-color !default;
  $tabs-tab-bg: color.adjust($base-bg, $lightness: -3%, $space: hsl) !default;
  $tabs-tab-selected-bg: $base-bg !default;
  $tabs-tab-icon-color: $tabs-tab-color !default;
  $tabs-tab-icon-selected-color: $tabs-tab-selected-color !default;
  $tabs-focused-border-color: $base-focus-bg !default;
  $tabs-focused-disabled-border-color: color.adjust($base-border-color, $lightness: -20%, $space: hsl) !default;
  $tabs-tab-hover-bg: $base-element-bg !default;
  $tabs-tab-active-bg: color.change(color.adjust($tabs-tab-bg, $lightness: -62.5%, $space: hsl), $alpha: 0.2) !default;
  $tabs-tab-active-border-color: color.adjust($tabs-tab-bg, $lightness: -12.16%, $space: hsl) !default;
  $tabs-tab-hover-border-color-horizontal: $base-border-color !default;
  $tabs-tab-hover-border-color-vertical: $tabs-tab-hover-bg !default;
}

@if $color == "light" {
  $tabs-tab-selected-color: $base-text-color !default;
  $tabs-tab-bg: color.adjust($base-bg, $lightness: -3%, $space: hsl) !default;
  $tabs-tab-selected-bg: $base-bg !default;
  $tabs-tab-icon-color: $tabs-tab-color !default;
  $tabs-tab-icon-selected-color: $tabs-tab-selected-color !default;
  $tabs-focused-border-color: $base-focus-bg !default;
  $tabs-focused-disabled-border-color: color.adjust($base-border-color, $lightness: -20%, $space: hsl) !default;
  $tabs-tab-hover-bg: $base-element-bg !default;
  $tabs-tab-active-bg: color.change(color.adjust($tabs-tab-bg, $lightness: -62.5%, $space: hsl), $alpha: 0.2) !default;
  $tabs-tab-active-border-color: color.adjust($tabs-tab-bg, $lightness: -12.16%, $space: hsl) !default;
  $tabs-tab-hover-border-color-horizontal: $base-border-color !default;
  $tabs-tab-hover-border-color-vertical: $tabs-tab-hover-bg !default;
}

@if $color == "softblue" {
  $tabs-tab-selected-color: $base-text-color !default;
  $tabs-tab-bg: color.adjust($base-bg, $lightness: -3%, $space: hsl) !default;
  $tabs-tab-selected-bg: $base-bg !default;
  $tabs-tab-icon-color: $base-icon-color !default;
  $tabs-tab-icon-selected-color: $tabs-tab-icon-color !default;
  $tabs-focused-border-color: $base-focus-bg !default;
  $tabs-focused-disabled-border-color: color.adjust($base-border-color, $lightness: -20%, $space: hsl) !default;
  $tabs-tab-hover-bg: $base-element-bg !default;
  $tabs-tab-active-bg: color.change(color.adjust($tabs-tab-bg, $lightness: -62.5%, $space: hsl), $alpha: 0.2) !default;
  $tabs-tab-active-border-color: color.adjust($tabs-tab-bg, $lightness: -12.16%, $space: hsl) !default;
  $tabs-tab-hover-border-color-horizontal: $base-border-color !default;
  $tabs-tab-hover-border-color-vertical: $tabs-tab-hover-bg !default;
}
