@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. File name text color
* $type color
*/
$fileuploader-filename-color: $base-text-color !default;
$fileuploader-file-icon-color: $base-icon-color !default;

/**
* $name 20. File status text color
* $type color
*/
$fileuploader-falename-status-color: null !default;

/**
* $name 30. Drag-and-drop border color
* $type color
*/
$fileuploader-border-color: $base-border-color !default;

@if $color == "carmine" {
  $fileuploader-falename-status-color: color.adjust($fileuploader-filename-color, $lightness: 40%, $space: hsl) !default;
}

@if $color == "contrast" {
  $fileuploader-falename-status-color: $base-text-color !default;
}

@if $color == "dark" {
  $fileuploader-falename-status-color: color.adjust($fileuploader-filename-color, $lightness: -40%, $space: hsl) !default;
}

@if $color == "darkmoon" {
  $fileuploader-falename-status-color: color.adjust($fileuploader-filename-color, $lightness: -40%, $space: hsl) !default;
}

@if $color == "darkviolet" {
  $fileuploader-falename-status-color: color.adjust($fileuploader-filename-color, $lightness: -40%, $space: hsl) !default;
}

@if $color == "greenmist" {
  $fileuploader-falename-status-color: color.adjust($fileuploader-filename-color, $lightness: 40%, $space: hsl) !default;
}

@if $color == "light" {
  $fileuploader-falename-status-color: color.adjust($fileuploader-filename-color, $lightness: 40%, $space: hsl) !default;
}

@if $color == "softblue" {
  $fileuploader-falename-status-color: color.adjust($fileuploader-filename-color, $lightness: 40%, $space: hsl) !default;
}
