@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../gridBase/colors" as *;

// adduse


$gantt-collapsable-row-bg: null !default;
$gantt-selection-bg: null !default;
$gantt-parent-task-bg: null !default;
$gantt-icon-color: null !default;


@if $color == "carmine" {

  $gantt-collapsable-row-bg: color.adjust($base-bg, $lightness: -5%, $space: hsl) !default;
  $gantt-selection-bg: color.change($datagrid-selection-bg, $alpha: 0.25) !default;
  $gantt-parent-task-bg: $base-success !default;
  $gantt-icon-color: color.adjust($base-text-color, $lightness: 20%, $space: hsl) !default;
}

@if $color == "contrast" {

  $gantt-collapsable-row-bg: color.adjust($base-bg, $lightness: 5%, $space: hsl) !default;
  $gantt-selection-bg: color.change($datagrid-selection-bg, $alpha: 0.3) !default;
  $gantt-parent-task-bg: $base-success !default;
  $gantt-icon-color: $base-text-color !default;
}

@if $color == "dark" {

  $gantt-collapsable-row-bg: color.adjust($base-bg, $lightness: 5%, $space: hsl) !default;
  $gantt-selection-bg: $datagrid-selection-bg !default;
  $gantt-parent-task-bg: $base-success !default;
  $gantt-icon-color: color.adjust($base-text-color, $lightness: -20%, $space: hsl) !default;
}

@if $color == "darkmoon" {

  $gantt-collapsable-row-bg: color.adjust($base-bg, $lightness: 4%, $space: hsl) !default;
  $gantt-selection-bg: color.change($datagrid-selection-bg, $alpha: 0.3) !default;
  $gantt-parent-task-bg: $base-danger !default;
  $gantt-icon-color: color.adjust($base-text-color, $lightness: -20%, $space: hsl) !default;
}

@if $color == "darkviolet" {

  $gantt-collapsable-row-bg: color.adjust($base-bg, $lightness: 4%, $space: hsl) !default;
  $gantt-selection-bg: color.change($datagrid-selection-bg, $alpha: 0.3) !default;
  $gantt-parent-task-bg: $base-success !default;
  $gantt-icon-color: color.adjust($base-text-color, $lightness: -20%, $space: hsl) !default;
}

@if $color == "greenmist" {

  $gantt-collapsable-row-bg: color.adjust($base-bg, $lightness: -4%, $space: hsl) !default;
  $gantt-selection-bg: color.change($datagrid-selection-bg, $alpha: 0.25) !default;
  $gantt-parent-task-bg: $base-success !default;
  $gantt-icon-color: color.adjust($base-text-color, $lightness: 15%, $space: hsl) !default;
}

@if $color == "light" {

  $gantt-collapsable-row-bg: color.adjust($base-bg, $lightness: -4%, $space: hsl) !default;
  $gantt-selection-bg: $datagrid-selection-bg !default;
  $gantt-parent-task-bg: $base-success !default;
  $gantt-icon-color: color.adjust($base-text-color, $lightness: 20%, $space: hsl) !default;
}

@if $color == "softblue" {

  $gantt-collapsable-row-bg: color.adjust($base-bg, $lightness: -4%, $space: hsl) !default;
  $gantt-selection-bg: $datagrid-selection-bg !default;
  $gantt-parent-task-bg: $base-success !default;
  $gantt-icon-color: color.adjust($base-text-color, $lightness: 20%, $space: hsl) !default;
}

