@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../overlay/colors" as *;

// adduse


$speed-dial-action-bg: null !default;
$speed-dial-action-hover-bg: null !default;
$speed-dial-action-active-bg: null !default;
$speed-dial-action-color: $base-text-color !default;
$speed-dial-action-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2) !default;
$speed-dial-action-label-shadow: 0 2px 6px rgba(0, 0, 0, 0.16) !default;
$speed-dial-action-shading-color: $overlay-shader-bg !default;


@if $mode == "light" {
  $speed-dial-action-bg: $base-bg !default;
  $speed-dial-action-hover-bg: color.adjust($speed-dial-action-bg, $lightness: -8%, $space: hsl) !default;
  $speed-dial-action-active-bg: color.adjust($speed-dial-action-bg, $lightness: -36%, $space: hsl) !default;
}

@if $mode == "dark" {
  $speed-dial-action-bg: color.change($base-bg, $alpha: 1) !default;
  $speed-dial-action-hover-bg: color.adjust($speed-dial-action-bg, $lightness: 8%, $space: hsl) !default;
  $speed-dial-action-active-bg: color.adjust($speed-dial-action-bg, $lightness: 36%, $space: hsl) !default;
}

