@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../textEditor/colors" as *;
@use "../button/colors" as *;

// adduse

/**
* $name 10. Background color
* $type color
*/
$chat-background-color: $base-bg !default;

/**
* $name 20. Border color
* $type color
*/
$chat-border-color: $base-border-color !default;
$chat-messagebox-border-color: $chat-border-color !default;
$chat-messagebox-file-background-color: $button-normal-text-bg-hover !default;
$chat-messagebox-file-cancel-button-secondary-color: $button-normal-text-bg-active !default;
$chat-message-editing-preview-accent-color: $base-accent !default;
$chat-message-editing-preview-cancel-button-color: $texteditor-label-color !default;

/**
* $name 30. Text color
* $type color
*/
$chat-avatar-color: null !default;

/**
* $name 31. Background color
* $type color
*/
$chat-avatar-background-color: $base-border-color !default;

/**
* $name 40. Text color (sent messages)
* $type color
*/
$chat-bubble-color-primary: null !default;

/**
* $name 41. Background color (sent messages)
* $type color
*/
$chat-bubble-background-color-primary: null !default;

/**
* $name 42. Text color (received messages)
* $type color
*/
$chat-bubble-color-secondary: null !default;

/**
* $name 43. Background color (received messages)
* $type color
*/
$chat-bubble-background-color-secondary: null !default;

/**
* $name 50. User name color
* $type color
*/
$chat-information-author-name-color: null !default;

/**
* $name 51. Timestamp color
* $type color
*/
$chat-information-timestamp-color: null !default;

/**
* $name 52. Day header color
* $type color
*/
$chat-messagelist-day-header-color: null !default;

/**
* $name 55. Alert color
* $type color
*/
$chat-alertlist-color: $base-invalid-color !default;

/**
* $name 65. Icon color
* $type color
*/
$chat-messagelist-empty-icon-color: null !default;

/**
* $name 66. Icon background color
* $type color
*/
$chat-messagelist-empty-icon-background-color: null !default;

/**
* $name 67. Title color
* $type color
*/
$chat-messagelist-empty-message-color: null !default;

/**
* $name 68. Subtitle color
* $type color
*/
$chat-messagelist-empty-prompt-color: null !default;

/**
* $name 80. Text color
* $type color
*/
$chat-typingindicator-color: null !default;

/**
* $name 82. Central circle color
* $type color
*/
$chat-typingindicator-circle-bg-color-center: null !default;

/**
* $name 83. Outer circles color
* $type color
*/
$chat-typingindicator-circle-bg-color: null !default;

$chat-file-container-background-color: $base-bg !default;
$chat-file-container-box-shadow: null !default;
$chat-file-secondary-color: $base-icon-color !default;

@if $color == "light" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-color-secondary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(color.adjust($base-accent, $lightness: -5%, $space: hsl), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: color.adjust($base-element-bg, $lightness: -4%, $space: hsl) !default;
  $chat-information-author-name-color: color.adjust($base-bg, $lightness: -41.57%, $space: hsl) !default;
  $chat-information-timestamp-color: color.adjust($base-bg, $lightness: -41.57%, $space: hsl) !default;
  $chat-typingindicator-color: color.adjust($base-bg, $lightness: -41.57%, $space: hsl) !default;

  $chat-messagelist-day-header-color: color.adjust($base-bg, $lightness: -41.57%, $space: hsl) !default;
  $chat-messagelist-empty-icon-color: color.adjust($base-icon-color, $lightness: 46.67%, $space: hsl) !default;
  $chat-messagelist-empty-icon-background-color: color.adjust($base-bg, $lightness: -7.84%, $space: hsl) !default;
  $chat-messagelist-empty-message-color: color.adjust($base-text-color, $lightness: -6.67%, $space: hsl) !default;
  $chat-messagelist-empty-prompt-color: color.adjust($base-label-color, $lightness: 38.43%, $space: hsl) !default;

  $chat-typingindicator-circle-bg-color: color.adjust($base-bg, $lightness: -31.57%, $space: hsl) !default;
  $chat-typingindicator-circle-bg-color-center: color.adjust($base-bg, $lightness: -46.57%, $space: hsl) !default;

  $chat-file-container-box-shadow: 0 0 2px 0 color.change($base-shadow-color, $alpha: 0.12), 0 1px 2px 0 color.change($base-shadow-color, $alpha: 0.14) !default;
}

@if $color == "dark" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-color-secondary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(color.adjust($base-accent, $lightness: -5%, $space: hsl), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: color.adjust($base-element-bg, $lightness: 4%, $space: hsl) !default;
  $chat-information-author-name-color: color.adjust($base-bg, $lightness: 32.55%, $space: hsl) !default;
  $chat-information-timestamp-color: color.adjust($base-bg, $lightness: 32.55%, $space: hsl) !default;
  $chat-typingindicator-color: color.adjust($base-bg, $lightness: 32.55%, $space: hsl) !default;

  $chat-messagelist-day-header-color: color.adjust($base-bg, $lightness: 32.55%, $space: hsl) !default;
  $chat-messagelist-empty-icon-color: color.adjust($base-icon-color, $lightness: -37.25%, $space: hsl) !default;
  $chat-messagelist-empty-icon-background-color: color.adjust($base-bg, $lightness: 7.84%, $space: hsl) !default;
  $chat-messagelist-empty-message-color: color.adjust($base-text-color, $lightness: 12.94%, $space: hsl) !default;
  $chat-messagelist-empty-prompt-color: color.adjust($base-label-color, $lightness: -38.04%, $space: hsl) !default;

  $chat-typingindicator-circle-bg-color: color.adjust($base-bg, $lightness: 32.55%, $space: hsl) !default;
  $chat-typingindicator-circle-bg-color-center: color.adjust($base-bg, $lightness: 41.07%, $space: hsl) !default;

  $chat-file-container-box-shadow: 0 0 2px 0 color.change($base-shadow-color, $alpha: 0.24), 0 1px 2px 0 color.change($base-shadow-color, $alpha: 0.28) !default;
}

@if $color == "carmine" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-color-secondary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(color.adjust($base-accent, $lightness: -5%, $space: hsl), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: color.adjust($base-element-bg, $lightness: -4%, $space: hsl) !default;
  $chat-information-author-name-color: color.adjust($base-bg, $lightness: -41.57%, $space: hsl) !default;
  $chat-information-timestamp-color: color.adjust($base-bg, $lightness: -41.57%, $space: hsl) !default;
  $chat-typingindicator-color: color.adjust($base-bg, $lightness: -41.57%, $space: hsl) !default;

  $chat-messagelist-day-header-color: color.adjust($base-bg, $lightness: -41.57%, $space: hsl) !default;
  $chat-messagelist-empty-icon-color: $base-icon-color !default;
  $chat-messagelist-empty-icon-background-color: color.adjust($base-bg, $lightness: -7.84%, $space: hsl) !default;
  $chat-messagelist-empty-message-color: $base-text-color !default;
  $chat-messagelist-empty-prompt-color: $base-label-color !default;

  $chat-typingindicator-circle-bg-color: color.adjust($base-bg, $lightness: -31.57%, $space: hsl) !default;
  $chat-typingindicator-circle-bg-color-center: color.adjust($base-bg, $lightness: -46.57%, $space: hsl) !default;

  $chat-file-container-box-shadow: 0 0 2px 0 color.change($base-shadow-color, $alpha: 0.12), 0 1px 2px 0 color.change($base-shadow-color, $alpha: 0.14) !default;
}

@if $color == "contrast" {
  $chat-avatar-color: $base-inverted-text-color !default;
  $chat-bubble-color-primary: $base-inverted-text-color !default;
  $chat-bubble-color-secondary: $base-inverted-text-color !default;
  $chat-bubble-background-color-primary: $base-inverted-bg !default;
  $chat-bubble-background-color-secondary: $base-hover-color !default;
  $chat-information-author-name-color: $base-text-color !default;
  $chat-information-timestamp-color: $base-text-color !default;
  $chat-typingindicator-color: $base-text-color !default;

  $chat-messagelist-day-header-color: $base-text-color !default;
  $chat-messagelist-empty-icon-color: $base-bg !default;
  $chat-messagelist-empty-icon-background-color: $base-inverted-bg !default;
  $chat-messagelist-empty-message-color: $base-text-color !default;
  $chat-messagelist-empty-prompt-color: $base-text-color !default;

  $chat-typingindicator-circle-bg-color: $base-inverted-bg !default;
  $chat-typingindicator-circle-bg-color-center: $base-inverted-bg !default;

  $chat-file-container-box-shadow: 0 0 2px 0 color.change($base-shadow-color, $alpha: 0.24), 0 1px 2px 0 color.change($base-shadow-color, $alpha: 0.28) !default;
}

@if $color == "darkmoon" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-color-secondary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(color.adjust($base-accent, $lightness: -5%, $space: hsl), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: color.adjust($base-element-bg, $lightness: 4%, $space: hsl) !default;
  $chat-information-author-name-color: color.adjust($base-bg, $lightness: 32.55%, $space: hsl) !default;
  $chat-information-timestamp-color: color.adjust($base-bg, $lightness: 32.55%, $space: hsl) !default;
  $chat-typingindicator-color: color.adjust($base-bg, $lightness: 32.55%, $space: hsl) !default;

  $chat-messagelist-day-header-color: color.adjust($base-bg, $lightness: 32.55%, $space: hsl) !default;
  $chat-messagelist-empty-icon-color: $base-icon-color !default;
  $chat-messagelist-empty-icon-background-color: color.adjust($base-bg, $lightness: -7.84%, $space: hsl) !default;
  $chat-messagelist-empty-message-color: $base-text-color !default;
  $chat-messagelist-empty-prompt-color: $base-label-color !default;

  $chat-typingindicator-circle-bg-color: color.adjust($base-bg, $lightness: 32.55%, $space: hsl) !default;
  $chat-typingindicator-circle-bg-color-center: color.adjust($base-bg, $lightness: 41.07%, $space: hsl) !default;

  $chat-file-container-box-shadow: 0 0 2px 0 color.change($base-shadow-color, $alpha: 0.24), 0 1px 2px 0 color.change($base-shadow-color, $alpha: 0.28) !default;
}

@if $color == "darkviolet" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-color-secondary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(color.adjust($base-accent, $lightness: -5%, $space: hsl), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: color.adjust($base-element-bg, $lightness: 4%, $space: hsl) !default;
  $chat-information-author-name-color: color.adjust($base-bg, $lightness: 32.55%, $space: hsl) !default;
  $chat-information-timestamp-color: color.adjust($base-bg, $lightness: 32.55%, $space: hsl) !default;
  $chat-typingindicator-color: color.adjust($base-bg, $lightness: 32.55%, $space: hsl) !default;

  $chat-messagelist-day-header-color: color.adjust($base-bg, $lightness: 32.55%, $space: hsl) !default;
  $chat-messagelist-empty-icon-color: color.adjust($base-icon-color, $lightness: -37.25%, $space: hsl) !default;
  $chat-messagelist-empty-icon-background-color: color.adjust($base-bg, $lightness: 7.84%, $space: hsl) !default;
  $chat-messagelist-empty-message-color: color.adjust($base-text-color, $lightness: 12.94%, $space: hsl) !default;
  $chat-messagelist-empty-prompt-color: color.adjust($base-label-color, $lightness: -38.04%, $space: hsl) !default;

  $chat-typingindicator-circle-bg-color: color.adjust($base-bg, $lightness: 32.55%, $space: hsl) !default;
  $chat-typingindicator-circle-bg-color-center: color.adjust($base-bg, $lightness: 41.07%, $space: hsl) !default;

  $chat-file-container-box-shadow: 0 0 2px 0 color.change($base-shadow-color, $alpha: 0.24), 0 1px 2px 0 color.change($base-shadow-color, $alpha: 0.28) !default;
}

@if $color == "greenmist" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-color-secondary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(color.adjust($base-accent, $lightness: -5%, $space: hsl), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: color.adjust($base-element-bg, $lightness: -4%, $space: hsl) !default;
  $chat-information-author-name-color: color.adjust($base-bg, $lightness: -41.57%, $space: hsl) !default;
  $chat-information-timestamp-color: color.adjust($base-bg, $lightness: -41.57%, $space: hsl) !default;
  $chat-typingindicator-color: color.adjust($base-bg, $lightness: -41.57%, $space: hsl) !default;

  $chat-messagelist-day-header-color: color.adjust($base-bg, $lightness: -41.57%, $space: hsl) !default;
  $chat-messagelist-empty-icon-color: $base-icon-color !default;
  $chat-messagelist-empty-icon-background-color: color.adjust($base-bg, $lightness: -7.84%, $space: hsl) !default;
  $chat-messagelist-empty-message-color: $base-text-color !default;
  $chat-messagelist-empty-prompt-color: $base-label-color !default;

  $chat-typingindicator-circle-bg-color: color.adjust($base-bg, $lightness: -31.57%, $space: hsl) !default;
  $chat-typingindicator-circle-bg-color-center: color.adjust($base-bg, $lightness: -46.57%, $space: hsl) !default;

  $chat-file-container-box-shadow: 0 0 2px 0 color.change($base-shadow-color, $alpha: 0.12), 0 1px 2px 0 color.change($base-shadow-color, $alpha: 0.14) !default;
}

@if $color == "softblue" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-color-secondary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(color.adjust($base-accent, $lightness: -5%, $space: hsl), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: color.adjust($base-element-bg, $lightness: -4%, $space: hsl) !default;
  $chat-information-author-name-color: color.adjust($base-bg, $lightness: -41.57%, $space: hsl) !default;
  $chat-information-timestamp-color: color.adjust($base-bg, $lightness: -41.57%, $space: hsl) !default;
  $chat-typingindicator-color: color.adjust($base-bg, $lightness: -41.57%, $space: hsl) !default;

  $chat-messagelist-day-header-color: color.adjust($base-bg, $lightness: -41.57%, $space: hsl) !default;
  $chat-messagelist-empty-icon-color: $base-icon-color !default;
  $chat-messagelist-empty-icon-background-color: color.adjust($base-bg, $lightness: -7.84%, $space: hsl) !default;
  $chat-messagelist-empty-message-color: $base-text-color !default;
  $chat-messagelist-empty-prompt-color: $base-label-color !default;

  $chat-typingindicator-circle-bg-color: color.adjust($base-bg, $lightness: -31.57%, $space: hsl) !default;
  $chat-typingindicator-circle-bg-color-center: color.adjust($base-bg, $lightness: -46.57%, $space: hsl) !default;

  $chat-file-container-box-shadow: 0 0 2px 0 color.change($base-shadow-color, $alpha: 0.12), 0 1px 2px 0 color.change($base-shadow-color, $alpha: 0.14) !default;
}

/**
* $name 81. Background color
* $type color
*/
$chat-typingindicator-bubble-bg-color: $chat-bubble-background-color-secondary !default;

$chat-messagelist-contextmenu-delete-button-color: $base-danger !default;
$chat-messagelist-contextmenu-delete-button-focused-color: $base-inverted-text-color !default;
$chat-messagelist-contextmenu-delete-button-focused-bg: $base-danger !default;
