@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../button/colors" as *;
@use "../loadIndicator/colors" as *;

// adduse


$diagram-border-color: $base-border-color !default;
$diagram-toolbar-border-color: $base-border-color !default;
$diagram-normal-format-active-bg: null !default;
$diagram-default-format-active-bg: null !default;
$diagram-danger-format-active-bg: null !default;
$diagram-success-format-active-bg: null !default;
$diagram-image-icon-base-color: null !default;
$diagram-image-icon-accent-color: null !default;
$diagram-toolbox-shape-text-opacity: null !default;


@if $color == "carmine" {
  $diagram-normal-format-active-bg: color.adjust($base-element-bg, $lightness: -10%, $space: hsl) !default;
  $diagram-default-format-active-bg: color.adjust($base-accent, $lightness: -10%, $space: hsl) !default;
  $diagram-danger-format-active-bg: color.adjust($base-danger, $lightness: -10%, $space: hsl) !default;
  $diagram-success-format-active-bg: color.adjust($base-success, $lightness: -10%, $space: hsl) !default;
  $diagram-image-icon-base-color: $base-icon-color !default;
  $diagram-image-icon-accent-color: $loadindicator-bg !default;
  $diagram-toolbox-shape-text-opacity: 0.25 !default;
}

@if $color == "contrast" {
  $diagram-normal-format-active-bg: $base-bg !default;
  $diagram-default-format-active-bg: $base-default !default;
  $diagram-danger-format-active-bg: $base-danger !default;
  $diagram-success-format-active-bg: $base-success !default;
  $diagram-image-icon-base-color: color.change($base-bg, $alpha: 0.5) !default;
  $diagram-image-icon-accent-color: color.change($base-shadow-color, $alpha: 0.5) !default;
  $diagram-toolbox-shape-text-opacity: 0.5 !default;
}

@if $color == "dark" {
  $diagram-normal-format-active-bg: color.adjust($base-element-bg, $lightness: 10%, $space: hsl) !default;
  $diagram-default-format-active-bg: color.adjust($base-accent, $lightness: -10%, $space: hsl) !default;
  $diagram-danger-format-active-bg: color.adjust($base-danger, $lightness: -10%, $space: hsl) !default;
  $diagram-success-format-active-bg: color.adjust($base-success, $lightness: -10%, $space: hsl) !default;
  $diagram-image-icon-base-color: color.change($base-bg, $alpha: 0.5) !default;
  $diagram-image-icon-accent-color: color.change($base-bg, $alpha: 0.5) !default;
  $diagram-toolbox-shape-text-opacity: 0.5 !default;
}

@if $color == "darkmoon" {
  $diagram-normal-format-active-bg: color.adjust($base-element-bg, $lightness: 10%, $space: hsl) !default;
  $diagram-default-format-active-bg: color.adjust($base-accent, $lightness: 10%, $space: hsl) !default;
  $diagram-danger-format-active-bg: color.adjust($base-danger, $lightness: 10%, $space: hsl) !default;
  $diagram-success-format-active-bg: color.adjust($base-success, $lightness: 10%, $space: hsl) !default;
  $diagram-image-icon-base-color: $base-bg !default;
  $diagram-image-icon-accent-color: $loadindicator-bg !default;
  $diagram-toolbox-shape-text-opacity: 0.5 !default;
}

@if $color == "darkviolet" {
  $diagram-normal-format-active-bg: color.adjust($base-element-bg, $lightness: 10%, $space: hsl) !default;
  $diagram-default-format-active-bg: color.adjust($base-accent, $lightness: 10%, $space: hsl) !default;
  $diagram-danger-format-active-bg: color.adjust($base-danger, $lightness: 10%, $space: hsl) !default;
  $diagram-success-format-active-bg: color.adjust($base-success, $lightness: 10%, $space: hsl) !default;
  $diagram-image-icon-base-color: color.change($base-bg, $alpha: 0.5) !default;
  $diagram-image-icon-accent-color: $loadindicator-bg !default;
  $diagram-toolbox-shape-text-opacity: 0.5 !default;
}

@if $color == "greenmist" {
  $diagram-normal-format-active-bg: color.adjust($base-element-bg, $lightness: 10%, $space: hsl) !default;
  $diagram-default-format-active-bg: color.adjust($base-accent, $lightness: 10%, $space: hsl) !default;
  $diagram-danger-format-active-bg: color.adjust($base-danger, $lightness: 10%, $space: hsl) !default;
  $diagram-success-format-active-bg: color.adjust($base-success, $lightness: 10%, $space: hsl) !default;
  $diagram-image-icon-base-color: $base-icon-color !default;
  $diagram-image-icon-accent-color: $loadindicator-bg !default;
  $diagram-toolbox-shape-text-opacity: 0.25 !default;
}

@if $color == "light" {
  $diagram-normal-format-active-bg: color.adjust($base-element-bg, $lightness: -10%, $space: hsl) !default;
  $diagram-default-format-active-bg: color.adjust($base-accent, $lightness: -10%, $space: hsl) !default;
  $diagram-danger-format-active-bg: color.adjust($base-danger, $lightness: -10%, $space: hsl) !default;
  $diagram-success-format-active-bg: color.adjust($base-success, $lightness: -10%, $space: hsl) !default;
  $diagram-image-icon-base-color: $loadindicator-bg !default;
  $diagram-image-icon-accent-color: $loadindicator-bg !default;
  $diagram-toolbox-shape-text-opacity: 0.25 !default;
}

@if $color == "softblue" {
  $diagram-normal-format-active-bg: color.adjust($base-element-bg, $lightness: -10%, $space: hsl) !default;
  $diagram-default-format-active-bg: color.adjust($base-accent, $lightness: -10%, $space: hsl) !default;
  $diagram-danger-format-active-bg: color.adjust($base-danger, $lightness: -10%, $space: hsl) !default;
  $diagram-success-format-active-bg: color.adjust($base-success, $lightness: -10%, $space: hsl) !default;
  $diagram-image-icon-base-color: $base-icon-color !default;
  $diagram-image-icon-accent-color: $loadindicator-bg !default;
  $diagram-toolbox-shape-text-opacity: 0.25 !default;
}

