.dx-chat-messagebox {
  display: flex;
  flex-direction: column;
  border-top-width: 1px;
  border-top-style: solid;
}

.dx-chat-messagebox-textarea-container {
  display: flex;
  align-items: flex-end;
}

.dx-chat-messagebox-textarea.dx-textarea {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &.dx-texteditor {
    > .dx-texteditor-container {
      .dx-texteditor-input,
      .dx-placeholder::before {
        padding: 0;
      }
    }
  }
}

.dx-textarea-toolbar.dx-toolbar {
  .dx-toolbar-items-container {
    height: auto;
  }
}
