.dx-chat-messagebox {
  display: flex;
  flex-direction: column;
  border-top-width: 1px;
  border-top-style: solid;
}

.dx-chat-messagebox-textarea-container {
  display: flex;
  align-items: flex-end;
}

.dx-chat-textarea.dx-textarea {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &.dx-texteditor {
    > .dx-texteditor-container {
      .dx-texteditor-input,
      .dx-placeholder::before {
        padding: 0;
      }

      .dx-texteditor-input {
        max-height: 7.1em;
      }
    }
  }
}

.dx-chat-textarea-attachments {
  .dx-fileuploader-input-wrapper {
    display: none;
  }

  .dx-fileuploader-wrapper {
    padding: 0;
  }

  .dx-fileuploader-files-container {
    display: grid;

    .dx-fileuploader-file-container {
      margin-bottom: 0;
    }
  }
}

.dx-chat-textarea-toolbar.dx-toolbar {
  .dx-toolbar-items-container {
    height: auto;
  }
}
