@mixin chat-messagebox(
  $messagebox-padding,
  $messagebox-border-color,
  $gap,
  $textarea-border-radius,
  $textarea-padding,
  $toolbar-min-height
) {
  .dx-chat-messagebox {
    padding: $messagebox-padding;
    border-top-color: $messagebox-border-color;
    gap: $messagebox-padding;
  }

  .dx-chat-messagebox-textarea-container {
    gap: $gap;
  }

  .dx-chat-messagebox-textarea.dx-textarea {
    gap: $gap;
    padding: $textarea-padding;

    &.dx-texteditor {
      border-radius: $textarea-border-radius;

      &.dx-editor-outlined::before {
        height: $textarea-border-radius;
        border-bottom-left-radius: $textarea-border-radius;
        border-bottom-right-radius: $textarea-border-radius;
      }
    }
  }

  .dx-textarea-toolbar.dx-toolbar {
    .dx-toolbar-items-container {
      min-height: $toolbar-min-height;
    }
  }
}
