@mixin chat-messagebox(
  $messagebox-padding,
  $messagebox-border-color,
  $gap,
  $textarea-border-radius,
  $textarea-padding,
  $toolbar-min-height,
  $chat-file-container-width,
  $messagebox-file-container-padding,
  $messagebox-file-container-padding-top,
) {
  .dx-chat-messagebox {
    padding: $messagebox-padding;
    border-top-color: $messagebox-border-color;
    gap: $messagebox-padding;
  }

  .dx-chat-messagebox-textarea-container {
    gap: $gap;
  }

  .dx-chat-textarea.dx-textarea {
    gap: $gap;
    padding: $textarea-padding;

    &.dx-texteditor {
      border-radius: $textarea-border-radius;

      &.dx-editor-outlined::before {
        height: $textarea-border-radius;
        border-bottom-left-radius: $textarea-border-radius;
        border-bottom-right-radius: $textarea-border-radius;
      }
    }

    .dx-fileuploader-files-container {
      padding: $messagebox-file-container-padding;
      padding-top: $messagebox-file-container-padding-top;
      gap: $gap;
      grid-template-columns: repeat(auto-fit, $chat-file-container-width);
    }
  }

  .dx-chat-textarea-toolbar.dx-toolbar {
    .dx-toolbar-items-container {
      min-height: $toolbar-min-height;
    }
  }
}
