@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../color" as extcolor;

// adduse

/**
* $name 10. Tag text color
* $type color
*/
$tagbox-tag-color: null !default;

/**
* $name 20. Tag background color
* $type color
*/
$tagbox-tag-bg: null !default;
$tagbox-tag-border-radius: $base-border-radius - 2px !default;

/**
* $name 30. Tag close button color
* $type color
*/
$tagbox-tag-button-remove-bg: null !default;
$tagbox-tag-button-remove-active-bg: null !default;
$tagbox-tag-focused-bg: null !default;
$tagbox-tag-focused-color: null !default;
$tagbox-tag-focused-button-remove-bg: null !default;
$tagbox-select-all-border-color: $base-border-color !default;

@if $color == "carmine" {
  $tagbox-tag-color: $base-text-color !default;
  $tagbox-tag-bg: color.adjust($base-bg, $lightness: -9%, $space: hsl) !default; // #fff => #e6e9eb
  $tagbox-tag-button-remove-bg: #9ea4a8 !default;
  $tagbox-tag-button-remove-active-bg: color.adjust($tagbox-tag-button-remove-bg, $lightness: 20%, $space: hsl) !default;
  $tagbox-tag-focused-bg: color.adjust($tagbox-tag-bg, $lightness: -7%, $space: hsl) !default;
  $tagbox-tag-focused-color: $tagbox-tag-color !default;
  $tagbox-tag-focused-button-remove-bg: $tagbox-tag-button-remove-bg !default;
}

@if $color == "contrast" {
  $tagbox-tag-bg: extcolor.difference(#fff, $base-bg) !default;
  $tagbox-tag-color: $base-inverted-text-color !default;
  $tagbox-tag-button-remove-bg: $base-inverted-text-color !default;
  $tagbox-tag-button-remove-active-bg: color.adjust($tagbox-tag-button-remove-bg, $lightness: 20%, $space: hsl) !default;
  $tagbox-tag-focused-bg: $base-focus-color !default;
  $tagbox-tag-focused-color: $base-text-color !default;
  $tagbox-tag-focused-button-remove-bg: $tagbox-tag-button-remove-bg !default;
}

@if $color == "dark" {
  $tagbox-tag-color: $base-text-color !default;
  $tagbox-tag-bg: color.adjust($base-bg, $lightness: 13.5%, $space: hsl) !default;
  $tagbox-tag-button-remove-bg: color.adjust($tagbox-tag-bg, $lightness: 20%, $space: hsl) !default;
  $tagbox-tag-button-remove-active-bg: color.adjust($tagbox-tag-button-remove-bg, $lightness: -20%, $space: hsl) !default;
  $tagbox-tag-focused-bg: color.adjust($tagbox-tag-bg, $lightness: -7.3%, $space: hsl) !default;
  $tagbox-tag-focused-color: $tagbox-tag-color !default;
  $tagbox-tag-focused-button-remove-bg: $tagbox-tag-button-remove-bg !default;
}

@if $color == "darkmoon" {
  $tagbox-tag-color: $base-text-color !default;
  $tagbox-tag-bg: color.adjust($base-bg, $lightness: 13.5%, $space: hsl) !default;
  $tagbox-tag-button-remove-bg: color.adjust($tagbox-tag-bg, $lightness: 20%, $space: hsl) !default;
  $tagbox-tag-button-remove-active-bg: color.adjust($tagbox-tag-button-remove-bg, $lightness: -20%, $space: hsl) !default;
  $tagbox-tag-focused-bg: color.adjust($tagbox-tag-bg, $lightness: -7.3%, $space: hsl) !default;
  $tagbox-tag-focused-color: $tagbox-tag-color !default;
  $tagbox-tag-focused-button-remove-bg: $tagbox-tag-button-remove-bg !default;
}

@if $color == "darkviolet" {
  $tagbox-tag-color: $base-text-color !default;
  $tagbox-tag-bg: $base-select-bg !default;
  $tagbox-tag-button-remove-bg: $base-row-alternation-background !default;
  $tagbox-tag-button-remove-active-bg: color.adjust($tagbox-tag-button-remove-bg, $lightness: -20%, $space: hsl) !default;
  $tagbox-tag-focused-bg: color.adjust($tagbox-tag-bg, $lightness: -7.3%, $space: hsl) !default;
  $tagbox-tag-focused-color: $tagbox-tag-color !default;
  $tagbox-tag-focused-button-remove-bg: $tagbox-tag-button-remove-bg !default;
}

@if $color == "greenmist" {
  $tagbox-tag-color: color.adjust($base-text-color, $lightness: 100%, $space: hsl) !default;
  $tagbox-tag-bg: $base-accent !default;
  $tagbox-tag-button-remove-bg: extcolor.difference($base-accent, #383838) !default; // #3cbab2  => #14827b
  $tagbox-tag-button-remove-active-bg: color.adjust($tagbox-tag-button-remove-bg, $lightness: 20%, $space: hsl) !default;
  $tagbox-tag-focused-bg: color.adjust($tagbox-tag-bg, $lightness: -7%, $space: hsl) !default;
  $tagbox-tag-focused-color: $tagbox-tag-color !default;
  $tagbox-tag-focused-button-remove-bg: $tagbox-tag-button-remove-bg !default;
}

@if $color == "light" {
  $tagbox-tag-color: $base-text-color !default;
  $tagbox-tag-bg: color.adjust($base-bg, $lightness: -13.5%, $space: hsl) !default;
  $tagbox-tag-button-remove-bg: color.adjust($tagbox-tag-bg, $lightness: -20%, $space: hsl) !default;
  $tagbox-tag-button-remove-active-bg: color.adjust($tagbox-tag-button-remove-bg, $lightness: 20%, $space: hsl) !default;
  $tagbox-tag-focused-bg: color.adjust($tagbox-tag-bg, $lightness: -7%, $space: hsl) !default;
  $tagbox-tag-focused-color: $tagbox-tag-color !default;
  $tagbox-tag-focused-button-remove-bg: $tagbox-tag-button-remove-bg !default;
}

@if $color == "softblue" {
  $tagbox-tag-color: $base-text-color !default;
  $tagbox-tag-bg: color.adjust($base-bg, $lightness: -13.5%, $space: hsl) !default;
  $tagbox-tag-button-remove-bg: color.adjust($tagbox-tag-bg, $lightness: -20%, $space: hsl) !default;
  $tagbox-tag-button-remove-active-bg: color.adjust($tagbox-tag-button-remove-bg, $lightness: 20%, $space: hsl) !default;
  $tagbox-tag-focused-bg: color.adjust($tagbox-tag-bg, $lightness: -7%, $space: hsl) !default;
  $tagbox-tag-focused-color: $tagbox-tag-color !default;
  $tagbox-tag-focused-button-remove-bg: $tagbox-tag-button-remove-bg !default;
}

