@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../color" as extcolor;

// adduse

/**
* $name 10. Bar background color
* $type color
*/
$slider-bar-bg: $base-border-color !default;

/**
* $name 30. Selected range background color
* $type color
*/
$slider-range-bg: $base-accent !default;
$slider-range-border-color: $slider-range-bg !default;
$slider-handle-bg: null !default;
$slider-handle-border-color: null !default;
$slider-handle-active-bg: null !default;
$slider-handle-hover-bg: null !default;
$slider-handle-focused-bg: null !default;
$slider-invalid-handle-accent-bg: null !default;
$slider-handle-border-radius: $base-border-radius - 1px !default;

@if $color == "carmine" {
  $slider-handle-bg: $base-accent !default;
  $slider-handle-border-color: $base-bg !default;
  $slider-handle-active-bg: color.adjust($slider-handle-bg, $lightness: -17%, $space: hsl) !default;
  $slider-handle-hover-bg: color.adjust($slider-handle-bg, $lightness: -10%, $space: hsl) !default;
  $slider-handle-focused-bg: $slider-handle-hover-bg !default;
  $slider-invalid-handle-accent-bg: color.adjust($base-danger, $lightness: -10%, $space: hsl) !default;
}

@if $color == "contrast" {
  $slider-handle-bg: $base-inverted-bg !default;
  $slider-handle-border-color: extcolor.difference(#fff, $base-border-color) !default;
  $slider-handle-active-bg: $base-inverted-bg !default;
  $slider-handle-hover-bg: $slider-range-bg !default;
  $slider-handle-focused-bg: $slider-handle-hover-bg !default;
  $slider-invalid-handle-accent-bg: color.adjust($base-danger, $lightness: 10%, $space: hsl) !default;
}

@if $color == "dark" {
  $slider-handle-bg: $base-accent !default;
  $slider-handle-border-color: $base-bg !default;
  $slider-handle-active-bg: color.adjust($slider-handle-bg, $lightness: 17%, $space: hsl) !default;
  $slider-handle-hover-bg: color.adjust($slider-handle-bg, $lightness: 10%, $space: hsl) !default;
  $slider-handle-focused-bg: $slider-handle-hover-bg !default;
  $slider-invalid-handle-accent-bg: color.adjust($base-danger, $lightness: 10%, $space: hsl) !default;
}

@if $color == "darkmoon" {
  $slider-handle-bg: $base-accent !default;
  $slider-handle-border-color: $base-bg !default;
  $slider-handle-active-bg: color.adjust($slider-handle-bg, $lightness: 17%, $space: hsl) !default;
  $slider-handle-hover-bg: color.adjust($slider-handle-bg, $lightness: 10%, $space: hsl) !default;
  $slider-handle-focused-bg: $slider-handle-hover-bg !default;
  $slider-invalid-handle-accent-bg: color.adjust($base-danger, $lightness: 10%, $space: hsl) !default;
}

@if $color == "darkviolet" {
  $slider-handle-bg: $base-accent !default;
  $slider-handle-border-color: $base-bg !default;
  $slider-handle-active-bg: color.adjust($slider-handle-bg, $lightness: 17%, $space: hsl) !default;
  $slider-handle-hover-bg: color.adjust($slider-handle-bg, $lightness: 10%, $space: hsl) !default;
  $slider-handle-focused-bg: $slider-handle-hover-bg !default;
  $slider-invalid-handle-accent-bg: color.adjust($base-danger, $lightness: 10%, $space: hsl) !default;
}

@if $color == "greenmist" {
  $slider-handle-bg: $base-accent !default;
  $slider-handle-border-color: $base-bg !default;
  $slider-handle-active-bg: color.adjust($slider-handle-bg, $lightness: -17%, $space: hsl) !default;
  $slider-handle-hover-bg: color.adjust($slider-handle-bg, $lightness: -10%, $space: hsl) !default;
  $slider-handle-focused-bg: $slider-handle-hover-bg !default;
  $slider-invalid-handle-accent-bg: color.adjust($base-danger, $lightness: -10%, $space: hsl) !default;
}

@if $color == "light" {
  $slider-handle-bg: $base-accent !default;
  $slider-handle-border-color: $base-bg !default;
  $slider-handle-active-bg: color.adjust($slider-handle-bg, $lightness: -17%, $space: hsl) !default;
  $slider-handle-hover-bg: color.adjust($slider-handle-bg, $lightness: -10%, $space: hsl) !default;
  $slider-handle-focused-bg: $slider-handle-hover-bg !default;
  $slider-invalid-handle-accent-bg: color.adjust($base-danger, $lightness: -10%, $space: hsl) !default;
}

@if $color == "softblue" {
  $slider-handle-bg: $base-accent !default;
  $slider-handle-border-color: $base-bg !default;
  $slider-handle-active-bg: color.adjust($slider-handle-bg, $lightness: -17%, $space: hsl) !default;
  $slider-handle-hover-bg: color.adjust($slider-handle-bg, $lightness: -10%, $space: hsl) !default;
  $slider-handle-focused-bg: $slider-handle-hover-bg !default;
  $slider-invalid-handle-accent-bg: color.adjust($base-danger, $lightness: -10%, $space: hsl) !default;
}

