@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. File name text color
* $type color
*/
$fileuploader-filename-color: $base-text-color !default;
$fileuploader-file-icon-color: $base-icon-color !default;

/**
* $name 20. File status text color
* $type color
*/
$fileuploader-falename-status-color: color.adjust($fileuploader-filename-color, $lightness: 40%, $space: hsl) !default;

/**
* $name 30. Drag-and-drop border color
* $type color
*/
$fileuploader-border-color: $base-border-color !default;
