@use "../sizes" as *;

// adduse

$material-fileuploader-file-container-padding: null !default;
$material-fileuploader-file-container-text-margin: null !default;
$material-fileuploader-file-container-button-margin: null !default;
$material-fileuploader-file-cancel-button-margin-left: 4px;
$material-fileuploader-file-container-button-size: null !default;
$material-fileuploader-file-icon-font-size: null !default;

$material-fileuploader-vertical-padding: 7px !default;

@if $size == "default" {
  $material-fileuploader-file-container-padding: 5px 8px !default;
  $material-fileuploader-file-container-text-margin: 15px !default;
  $material-fileuploader-file-container-button-margin: 5px !default;
  $material-fileuploader-file-container-button-size: 36px !default;
  $material-fileuploader-file-icon-font-size: 18px !default;
}

@else if $size == "compact" {
  $material-fileuploader-file-container-padding: 2px 4px !default;
  $material-fileuploader-file-container-text-margin: 6px !default;
  $material-fileuploader-file-container-button-margin: 2px !default;
  $material-fileuploader-file-container-button-size: 28px !default;
  $material-fileuploader-file-icon-font-size: 16px !default;
}
