@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$timeview-bg: null !default;


@if $color == "carmine" {
  $timeview-bg: color.adjust($base-bg, $lightness: -2.7%, $space: hsl) !default;
}

@if $color == "contrast" {
  $timeview-bg: $base-bg !default;
}

@if $color == "dark" {
  $timeview-bg: color.adjust($base-bg, $lightness: 2.5%, $space: hsl) !default;
}

@if $color == "darkmoon" {
  $timeview-bg: color.adjust($base-bg, $lightness: -2%, $space: hsl) !default;
}

@if $color == "darkviolet" {
  $timeview-bg: #1f1f2b !default;
}

@if $color == "greenmist" {
  $timeview-bg: color.adjust($base-bg, $lightness: -1%, $space: hsl) !default;
}

@if $color == "light" {
  $timeview-bg: color.change(color.adjust($base-bg, $lightness: -13.3%, $space: hsl), $alpha: 0.2) !default;
}

@if $color == "softblue" {
  $timeview-bg: color.change(color.adjust($base-bg, $lightness: -4%, $space: hsl), $alpha: 0.7) !default;
}
