@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../overlay/colors" as *;

// adduse


$speed-dial-action-bg: null !default;
$speed-dial-action-hover-bg: null !default;
$speed-dial-action-active-bg: null !default;
$speed-dial-action-color: null !default;
$speed-dial-action-shadow: 0 6px 12px rgba(0, 0, 0, 0.2) !default;
$speed-dial-action-label-shadow: 0 6px 12px rgba(0, 0, 0, 0.16) !default;
$speed-dial-action-shading-color: null !default;


@if $color == "carmine" {
  $speed-dial-action-bg: $base-bg !default;
  $speed-dial-action-hover-bg: color.adjust($speed-dial-action-bg, $lightness: -8%, $space: hsl) !default;
  $speed-dial-action-active-bg: color.adjust($speed-dial-action-bg, $lightness: -24%, $space: hsl) !default;
  $speed-dial-action-color: $base-text-color !default;
  $speed-dial-action-shading-color: $overlay-shader-bg !default;
}

@if $color == "contrast" {
  $speed-dial-action-bg: $base-text-color !default;
  $speed-dial-action-hover-bg: $base-accent !default;
  $speed-dial-action-active-bg: $base-text-color !default;
  $speed-dial-action-color: $base-bg !default;
  $speed-dial-action-shading-color: $base-bg !default;
}

@if $color == "dark" {
  $speed-dial-action-bg: color.adjust($base-bg, $lightness: 3%, $space: hsl) !default;
  $speed-dial-action-hover-bg: color.adjust($speed-dial-action-bg, $lightness: 9%, $space: hsl) !default;
  $speed-dial-action-active-bg: color.adjust($speed-dial-action-bg, $lightness: 26%, $space: hsl) !default;
  $speed-dial-action-color: $base-text-color !default;
  $speed-dial-action-shading-color: $overlay-shader-bg !default;
}

@if $color == "darkmoon" {
  $speed-dial-action-bg: color.adjust($base-bg, $lightness: 3%, $space: hsl) !default;
  $speed-dial-action-hover-bg: color.adjust($speed-dial-action-bg, $lightness: 9%, $space: hsl) !default;
  $speed-dial-action-active-bg: color.adjust($speed-dial-action-bg, $lightness: 26%, $space: hsl) !default;
  $speed-dial-action-color: $base-text-color !default;
  $speed-dial-action-shading-color: $overlay-shader-bg !default;
}

@if $color == "darkviolet" {
  $speed-dial-action-bg: color.adjust($base-bg, $lightness: 3%, $space: hsl) !default;
  $speed-dial-action-hover-bg: color.adjust($speed-dial-action-bg, $lightness: 9%, $space: hsl) !default;
  $speed-dial-action-active-bg: color.adjust($speed-dial-action-bg, $lightness: 26%, $space: hsl) !default;
  $speed-dial-action-color: $base-text-color !default;
  $speed-dial-action-shading-color: $overlay-shader-bg !default;
}

@if $color == "greenmist" {
  $speed-dial-action-bg: $base-bg !default;
  $speed-dial-action-hover-bg: color.adjust($speed-dial-action-bg, $lightness: -8%, $space: hsl) !default;
  $speed-dial-action-active-bg: color.adjust($speed-dial-action-bg, $lightness: -24%, $space: hsl) !default;
  $speed-dial-action-color: $base-text-color !default;
  $speed-dial-action-shading-color: $overlay-shader-bg !default;
}

@if $color == "light" {
  $speed-dial-action-bg: $base-bg !default;
  $speed-dial-action-hover-bg: color.adjust($speed-dial-action-bg, $lightness: -8%, $space: hsl) !default;
  $speed-dial-action-active-bg: color.adjust($speed-dial-action-bg, $lightness: -24%, $space: hsl) !default;
  $speed-dial-action-color: $base-text-color !default;
  $speed-dial-action-shading-color: $overlay-shader-bg !default;
}

@if $color == "softblue" {
  $speed-dial-action-bg: $base-bg !default;
  $speed-dial-action-hover-bg: color.adjust($speed-dial-action-bg, $lightness: -8%, $space: hsl) !default;
  $speed-dial-action-active-bg: color.adjust($speed-dial-action-bg, $lightness: -24%, $space: hsl) !default;
  $speed-dial-action-color: $base-text-color !default;
  $speed-dial-action-shading-color: $overlay-shader-bg !default;
}

